[2016-01-19 22:08] robingram opened #1 "Linting never completes"
When running on Windows 7. VS Code version 0.10.6.

phpcs is installed globally and in my path but even on a small file the status bar just sits saying 'phpcs is linting 1 document' with a spinner.

Is there any way I can get diagnostic output?

[2016-01-31 11:29] glen-84 commented on #1
I have the same issue. Windows 10. :disappointed:

[2016-02-07 11:44] ikappas commented on #1
Hi and thank you for your feedback. There is no way to get diagnostic feedback but I will have a look at Windows 10 and get back to you

[2016-02-13 13:34] glen-84 commented on #1
@ikappas Did you find anything? Let me know if you need me to test something. =)

[2016-02-15 16:07] shahnhogan commented on #1
+1

[2016-02-18 10:07] krystianprzybyla commented on #1
+1

[2016-03-08 12:16] Janne252 opened #2 "phpcs: Unable to locate phpcs (php installed, pear installed, phpcs intalled)"
**Edit: Restarting the system fixed the issue.** Looks like I now have the same issue as described [here](https://github.com/ikappas/vscode-phpcs/issues/1).

Hey,

I'm getting the error "phpcs: Unable to locate phpcs. Please add phpcs to your global path or use composer depency manager to install it in your project locally." on VS Code.

PHP is installed in E:\php
PEAR is installed in E:\php
phpcs

[2016-03-08 12:31] Janne252 commented on #1
+1

[2016-03-11 16:28] Zarriff commented on #1
+1

[2016-03-16 09:33] guodf opened #3 "为什么不把phpcs.phar文件放在你自己的扩展目录中一起发布"
如果这样做，我们只需要安装php就可以了。
另一个原因：phpcs.phar如果有更新，那么你的vscode扩展插件phpcs也需要跟着更新，既然这样，那么把phpcs.phar和你的vscode扩展插件phpcs一起发布不是更好吗？！

[2016-03-21 02:44] thanhngch commented on #1
+1 I have same issue in Windows 10.

[2016-03-26 20:06] caffeinelogic commented on #1
+1

[2016-03-29 01:53] meteor0763 commented on #1
+1 - on OSX

[2016-03-31 11:25] ChuckMac commented on #1
+1 - Win7

[2016-04-14 12:44] temkretz commented on #1
+1 Win10

[2016-04-18 09:58] jimmyko commented on #3
Don't expect everyone can read Chinese in Github.
作者不是華人，用中文留言有用嗎?

[2016-04-18 12:04] thijsw opened #5 "Linting very slow"
First of all, thanks for this extension! It is very helpful :)

Unfortunately, I encounter very slow linting performance in my project. It is a very straightforward project with just a bunch of classes, some Composer dependencies, and that's it.

Linting a single file in Visual Studio Code takes about a whole minute ("phpcs is linting 1 document ... /"), whereas if I run the sniffer from the comma

[2016-04-18 14:10] jimmyko opened #6 "Installed PHP_CodeSniffer globally but it does not work"
The PHP and PEAR on Mac is installed via homebrew-php, then I use PEAR to install PHP_CodeSniffer. Unfortunatelly it still cannot be located.

[2016-04-21 19:21] natesilva commented on #5
I am seeing the same problem on Windows, though curiously not on my Mac -- same file being linted. This happens when I'm linting a small controller class file. No other files are open in the Explorer tab of VS Code. Linting is fast from the command prompt.

**VS Code:**
Version 1.0.0
Commit fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8
Date 2016-04-13T14:08:36.599Z
Shell 0.35.6
Renderer 45.0.2454.85
No

[2016-04-23 14:21] ikappas commented on #6
Thanks for your input. Is phpcs accessible anywhere in your terminal? ie. which phpcs reports the path of phpcs ?

Please update to 0.5.0 and let me know if your problem persits

[2016-04-23 14:26] ikappas commented on #5
Hello and thank you for your input.

I have just released 0.5.0 which has updated dependecies for vscode 1.0.0
Please update to this version and let me know whether this fixes the issues you are experiencing.

@thijsw Does the file have a lot of linting errors?

[2016-04-23 14:29] ikappas commented on #1
I have just released 0.5.0 with updated dependencies for vscode 1.0.0

Can you please install and confirm whether this fixes your problem?

[2016-04-23 14:34] ikappas commented on #2
Thank you for your feedback.

The phpcs executable must be accessible in the global path and a restart maybe required in Windows.
I am closing this issue as you seem to be experiencing an other now.

[2016-04-23 14:34] #2 closed

[2016-04-23 14:35] ikappas commented on #3
Well if someone can translate the issue, maybe I can be of assistance :)

[2016-04-23 17:04] glen-84 commented on #1
@ikappas It's still not working. I also see the `This socket has been ended by the other party` error.

[2016-04-23 18:31] ikappas commented on #1
@glen-84  Can you please confirm that you are also running phpmd and that this issue still occurs if you uninstall phpmd ?

[2016-04-23 18:32] ikappas commented on #1
Also please open the output window and check what is going on there under phpcs

[2016-04-23 19:00] glen-84 commented on #1
@ikappas,

I'm not using phpmd. The output window shows:

`linting started on: file:///d%3A/Programming/Projects/x/website-front-end/config/container.php`

Could this be something to do with the encoding of the drive colon (`:`)?

[2016-04-24 13:47] jimmyko commented on #6
@ikappas
Thanks for your kind response. I just notice that the phpcs is not accessible globally. I reinstalled the phpcs with homebrew. Your plugin is working very well. Thanks for your great affort.

[2016-04-24 13:51] jimmyko commented on #6
Please help to close this issue. Cheers. :)

[2016-04-24 13:56] jimmyko commented on #3
Hi @ikappas,
He is asking if you can embed the phpcs.phar in vscode phpcs extension. If there is phpcs update, your extension have to update too, and vice versa.

[2016-04-24 16:27] jimmyko commented on #6
@ikappas

I just try to use composer rather than the pear to install phpcs globally, it does not work again. The path of phpcs is
[code]

[2016-04-25 12:30] temkretz commented on #1
Sadly the update did fixed the problem only half, at least for me.

It no finishes but takes much time to finish.

Some info:

OS: MacOS X 10.11.4
PHPCS: PHP_CodeSniffer version 2.6.0 (stable) by Squiz (http://www.squiz.net)
VSCode: 1.0.0

[2016-04-25 12:42] ikappas commented on #1
@glen-84  I can confirm this issue on Windows. I am trying to get a handle on it
@temkretz I can confirm that phpcs 2.6.0 runs extremely slow... Can you please downgrade phpcs to a version <= 2.5 and let me know if this changes this behaviour?

[2016-04-25 13:55] temkretz commented on #5
I encapsulated the problem. The child_process, which actually does the linting,  triggers the stdout, stderr and close stuff, but it takes far too long. I will investigate further!

[2016-04-25 14:06] ikappas commented on #5
@temkretz I am at the same point and tested both spawn and exec but the slowdown is massive...

[2016-04-25 14:08] ikappas commented on #6
Nice to hear that it works for you. I am closing this issue.

[2016-04-25 14:08] #6 closed

[2016-04-25 14:12] ikappas commented on #3
Thank you for your suggestion.
Embedding phpcs.phar into the plugin is not something that I would like persue since it would involve embedding a php version as well for all platforms.

[2016-04-25 14:12] #3 closed

[2016-04-25 14:30] temkretz commented on #5
@ikappas Yes. My observation:
The phpcs process created through spawn() is waiting in "SLEEP" state as seen in "ps".
Dunno why, will investigate further :)

[2016-04-25 14:47] ikappas commented on #5
@temkretz I can also confirm that phpcs 2.6.0 is way too slower than phpcs 2.4.0

[2016-04-25 14:48] temkretz commented on #5
Yeah, but if I run the command from commandline it instant finishes.

[2016-04-25 14:50] ikappas commented on #5
True

[2016-04-25 14:52] temkretz commented on #5
What confuses me is, that I forked the vscode-language-server-example project from MS, do a cp.exec(phpcs....) and it instantly runs oO

[2016-04-25 14:53] ikappas commented on #5
Maybe I missed something when I ported from that source code ...

[2016-04-25 14:54] temkretz commented on #5
I will try to do this with the --format=json as well!

[2016-04-25 14:56] ikappas commented on #5
there is a bug with --format=json reported  https://github.com/squizlabs/PHP_CodeSniffer/issues/969

[2016-04-25 14:56] ikappas commented on #5
Let me push some changes on develop and work on those... How does that sound?

[2016-04-25 15:01] ikappas commented on #5
@temkretz I just pushed some changes on develop. Can you please do your testing against that source code?

[2016-04-25 15:15] temkretz commented on #5
@ikappas Alright, just checked it out ;)

[2016-04-25 15:24] temkretz commented on #5
I don't think that phpcs is the problem, the process just doesn't get executed instantly.

[2016-04-25 15:26] ikappas commented on #5
On develop I switched to child_process exec instead of spawn but this does not seem to affect the problem in any way

[2016-04-25 15:28] temkretz commented on #5
Nope it doesn't :( For what reason ever the spawned process waits to be executed. I will try something.

[2016-04-25 16:31] ikappas commented on #5
@temkretz I just pushed some changes to develop and I think I nailed it. Let me know if this works for you.

[2016-04-25 16:56] temkretz commented on #5
@ikappas Work wonderful! Damn processes >.>

I think you can merge it into master :)

[2016-04-25 17:27] ikappas commented on #5
@temkretz That is good to hear! Thank you for your assistance

[2016-04-25 17:40] temkretz commented on #5
No problem 👍

[2016-04-26 13:38] temkretz commented on #5
@ikappas merge? :P

[2016-04-26 14:48] ikappas commented on #5
Fixing Windows issue and will merge ;)

[2016-04-27 06:24] ArianeLu commented on #1
Same issue on phpcs 2.4, PHP 7.0.5 ,Windows 10:
"This socket has been ended by the other party: Error: This socket has been ended by the other party"

[2016-04-27 13:41] ikappas commented on #1
I just published phpcs 0.6.0 which should take care of this issue.
Please let me know if this works!

[2016-04-27 13:41] ikappas commented on #5
I just published phpcs 0.6.0 which should take care of this issue.
Please let me know if this works!

[2016-04-27 14:07] glen-84 commented on #1
It works! :tada:

[2016-04-27 15:35] glen-84 opened #7 "Incorrect type. Expected "string" in settings.json file"
It's pointing to this:

[code]

[2016-04-27 16:54] temkretz commented on #5
@ikappas works fantastic. thx!

[2016-04-27 17:20] ikappas commented on #7
Thank you for your feedback.
Where do you get this error?

[2016-04-27 18:03] glen-84 commented on #7
When opening User Settings:

![vscode-phpcs-err](https://cloud.githubusercontent.com/assets/261509/14862707/ec70f52e-0cb2-11e6-90aa-e467cb5b7668.png)

[2016-04-27 21:37] ikappas commented on #7
This is not an issue...and null is a valid value -- it is just not typed correctly in packages.json.

[2016-04-28 09:07] ikappas commented on #7
Fixed in phpcs 0.6.1.

[2016-04-28 09:07] #7 closed

[2016-04-28 09:08] ikappas commented on #5
Good to hear, closing this issue.

[2016-04-28 09:08] #5 closed

[2016-04-28 09:09] ikappas commented on #1
Good to hear, closing this issue.

[2016-04-28 09:09] #1 closed

[2016-05-08 12:45] hajekj opened #8 "Unable to locate phpcs"
Hello,
I tried to install the phpcs plugin for Visual Studio Code but I keep getting `phpcs: Unable to locate phpcs. Please add phpcs to your global path or use composer depency manager to install it in your project locally.` message. I can access `phpcs` from the Command Line, it is available globally in the `PATH`.
The `PATH` on my device is following:

[code]

I also tried adding `phpcs.bat` to

[2016-05-09 13:46] codewp opened #9 "Does not shows errors onType"
This extension does not shows errors onType although `"php.validate.run": "onType"` is exists in user settings.

This extension shows errors after saving file.

`Visual Studio Code information.
Version 1.0.0
Commit fa6d0f03813dfb9df4589c30121e9fcffa8a8ec8
Date 2016-04-13T14:21:33.326Z
Shell 0.35.6
Renderer 45.0.2454.85
Node 4.1.1
On Ubuntu 14.4
`

[2016-05-18 22:56] robingram opened #10 "Specify standard to use"
Is it possible to specify the standard that `phpcs` will use or does it just pick the default? It would also be good to be able to specify this per-project.

[2016-05-19 08:16] ikappas commented on #10
@robingram You can specify the coding standard per project using the following in you project settings.json
[code]
Replace PSR2 with the standard you want to use.

[2016-05-19 08:16] #10 closed

[2016-05-19 08:21] ikappas commented on #8
Hi @hajekj and thank you for your feedback.

In windows the phpcs is run through a phpcs.bat file that is pre-configured for you when you install phpcs through pear. Otherwise you need to manually create one yourself. Have a look at the installation section in the documentation.

I hope this helps.

[2016-05-19 08:24] hajekj commented on #8
Hey @ikappas, I have phpcs.bat available in my path. I followed all the installation steps and tried multiple times already.

[2016-05-19 08:25] ikappas commented on #9
Hi @codewp and thank you for your feedback.

This is by design. phpcs cannot work with in-memory files and performs linting only on existing filesystem files. That is why it only works on save.

[2016-05-19 08:25] #9 closed

[2016-05-19 08:26] ikappas commented on #8
@hajekj Did you install using pear?

[2016-05-19 08:28] hajekj commented on #8
Yes, it is installed through PEAR.

[2016-05-19 08:33] ikappas commented on #8
From what I can see from your installation you seem to have phpcs installed under Program Files.
Can you verify that this issue does not occur if you have phpcs.bat on a global path that does not contain spaces? ie C:\php\.

[2016-05-19 08:35] hajekj commented on #8
I will give it a try and post back once I tested it. If it is so, I believe it should attempt to just execute phpcs.bat in the PATH instead of looking into a folder on C:\ - for example, I am using a PHP which was installed by Web Platform Installer and therefore it is in the C:\Program Files folder

[2016-05-21 23:18] benriga opened #11 "Unable to locate phpcs"
I am trying to use VS Code and phpcs on a local system running xampplite.  As a result, php and phpcs are not installed in c:\php but rather are in C:\xampplite\php.  Is there a setting in the phpcs extension that would allow me to point it to the right spot?

I have added C:\xampplite\php to my PATH but when I do that I get the message: Report type "json" not known

Any guidance to get this worki

[2016-05-31 19:09] tariqabulaila0 commented on #11
I am having the same problem with the json warning.

[2016-06-07 15:44] ChuckMac opened #12 "Fails to process if path contains a space"
If either the directory or filename contain a space phpcs will fail to process the file.  It will return an error like:

`phpcs: The file "XXX" does not exist.`

where XXX = the path before the space

[2016-06-25 06:03] mickflaherty commented on #8
I have the same issue on the same setup Windows 10, PHP installed through WebPI and VS Code saying I need to add PHPCS to global path.  Did you resolve this?

[2016-07-08 06:51] ritayzy opened #13 "phpcs: Unable to locate phpcs, Please add phpcs to global path"
- VSCode Version: 1.3.0 (1.3.0)
- OS Version: 10.11.3 (15D21)
- vs plugin: [phpcs](https://github.com/ikappas/vscode-phpcs)

Steps to Reproduce:

when i open a `.php` file, the tips show that:

![image](https://cloud.githubusercontent.com/assets/18484770/16679514/b913bb44-451a-11e6-81ec-829d036bbfce.png)

in my termianl, i input this `which phpcs`, show that:

![image](https://cloud.githubusercont

[2016-07-08 08:33] joaomoreno opened #14 "phpcs: Unable to locate phpcs, Please add phpcs to global path"
_From @ritayzy on July 8, 2016 6:50_
- VSCode Version: 1.3.0 (1.3.0)
- OS Version: 10.11.3 (15D21)
- vs plugin: [phpcs](https://github.com/ikappas/vscode-phpcs)

Steps to Reproduce:

when i open a `.php` file, the tips show that:

![image](https://cloud.githubusercontent.com/assets/18484770/16679514/b913bb44-451a-11e6-81ec-829d036bbfce.png)

in my termianl, i input this `which phpcs`, show that:

[2016-07-08 08:36] #13 closed

[2016-07-11 09:56] floridait commented on #14
Why is this closed? There is no fix for this yet. I have the same issue but it works when I start vscode from the command line.

[2016-07-11 10:02] ritayzy commented on #14
There is the same problems at `eslint`,  I think it's bug's vscode, not `phpcs`。
Some people have solved it? Please help me，Thanks!

[2016-07-11 10:31] joaomoreno commented on #14
Closing as duplicate of Microsoft/vscode#8434

[2016-07-18 09:24] papadi commented on #8
Same problem here. PHPCS is installed and works when I run it from the command line, regardless of the current path. VS Code though always gives this error on startup.

[2016-07-29 12:21] zmni opened #15 "1.3.x - phpcs: Unable to locate phpcs. Please add phpcs to your global path or use composer depency manager to install it in your project locally."
Works fine on version 1.2.x, but shortly after update to above version, vscode no longer detect/locate phpcs. Global path configure properly, on default setting, hardcode setting to absolute path, I try everything, nothing works.

Output from Developer Tools:

[code]

[2016-08-05 15:52] papadi commented on #8
I'm afraid that the error in our case is different and it is suppressed by this code in linter.js
Would it be possible to include the error variable in the output message or some log file?

cp.exec("${phpcsPath} --version", function(error, stdout, stderr) {
    if (error) {
        reject("phpcs: Unable to locate phpcs. Please add phpcs to your global path or use composer depency manager to instal

[2016-08-07 12:34] glen-84 opened #16 "Clear diagnostics when a document is closed"
See https://code.visualstudio.com/updates/June_2016#_extension-authoring ("Creating Errors/Warnings from an Extension (Diagnostics)")

[2016-08-14 04:10] jarandal commented on #8
workaround: copy your phpcs.bat to c:\windows

[2016-08-14 07:21] hajekj commented on #8
It would be great to have a more long term fix rather than copying things into my Windows folder, however thanks @jarandal.

[2016-08-24 02:35] LiamKarlMitchell opened #17 "Is it simple to add js and css as languages checked with phpcs."
How would one do this?

[2016-09-01 19:18] artberri opened #18 "Add setting to set the phpcs path or search for it properly"
When the plugin search for composer it should look also for the location of the `bin` dir instead of hardcoding `./vendor/bin` in https://github.com/ikappas/vscode-phpcs/blob/c0a7d6076161a8427b8fbc86377928f010f3bec4/phpcs-server/src/linter.ts#L134

Take into account that Composer allows to customize that folder, for example:

[code]

I'll try to get some time to make a pull request, but I'm not su

[2016-09-16 04:21] arulpr commented on #11
I have the same error message

[2016-09-20 09:32] anibalsanchez opened #19 "High CPU on multiple file changes"
The extension works great! So, I guess this is an improvement to work fine with big projects.

When you change multiple files in a project, for example 100 files, vscode-phpcs fires simultaneous 100 processes.... and CPU is overloaded.

There is also a second (weird) case when CPU is overloaded. When VSCode tries to write a file with no write permissions, it fires a change event to all files in a

[2016-09-21 17:16] MadCoder253 commented on #8
I want to confirm that the issue is having spaces in the folder path of your project. If you get rid of the spaces then the bug goes away.

Example:
My code was located here
c:\users\madcoder253\sources\PHP Repos\tan\website
I got the error of not finding the file.

Then I changed the space to a dash, the error went away and then phpcs extension started to work.
c:\users\madcoder253\sources\PHP-Re

[2016-09-23 18:47] MadCoder253 opened #20 "Switch and case indenting"
Hi,

PHPCS is working great for me, very handy to update code as I work on it or making sure new code is formatted correctly.

It appears that the indenting check for the case may be off. If I have a switch statement inside a function, it is indented and then the case statement has an additional indent. However, the PHPCS shows the indentation is wrong, that it was expecting 4 spaces, but found 8.

[2016-10-26 16:42] nbouhid opened #21 "Use multiple standards at the same time"
My team uses multiple standards like this:
`phpcs --standard=Drupal,DrupalSecure`
which works fine when running in on the command line

So we configured it as

[code]

When we do that, we get
`phpcs: Unexpected token P in JSON at position 0`

Is there a way to achieve that?

[2016-11-09 19:32] elvishp2006 opened #22 "Ignoring files"
Has a way to configure to ignore paths and files for avoid linting?

[2016-11-12 21:18] DaGhostman commented on #22
Would be very helpful to set a directory to lint (as that is the way the CLI works) `phpcs --standard=psr2 src/` is what I use most of the time, I don't care about the tests folder, nor any other small scripts like benchmarks or anything. So it will be super useful to have a way to whitelist/blacklist (whichever is more comfortable) some files/folders and not get the warnings from them

[2016-11-12 22:52] elvishp2006 commented on #22
Exactly, I use frameworks, and I do not want phpcs to linter from your files.

[2016-12-14 08:19] phamthaibaoduy opened #23 "Support for Composer bin-dir config"
Hi,

In my project, I have all vendor bin file symlinks in custom path, using this config https://getcomposer.org/doc/06-config.md#bin-dir

Now the extension can not recognize the path of phpcs. Can you please fix it :D

[2016-12-21 22:48] josephzidell commented on #18
I need this also. My path is `vendors/bin`

[2016-12-22 19:04] Swift-R opened #24 "Can't locate phpcs on macOS"
So I installed VSCode, the phpcs extension and then phpcs using PEAR:

`sudo pear install phpcs` (does not work without sudo: No releases available for package "pear.php.net/phpcs")

After restarting VSCode I get the message:

`which phpcs` returns `/usr/local/bin/phpcs`

Anyone?

[2017-01-06 02:34] oknixus commented on #24
@Swift-R me too. I has searched solution with Google since yesterday. But nothing help to resolve this problem. And there is not enough detail in the author's docs

[2017-01-06 02:39] Swift-R commented on #24
From what I've read, the issue is with VSCode itself. It doesn't allow extensions to use anything externally anymore.

[2017-01-08 17:39] spencerthayer commented on #8
@MadCoder253 this however isn't very useful for those of us who cannot change their folder path.

[2017-01-09 19:35] MadCoder253 commented on #8
@spencerthayer Definitely true.

[2017-01-12 18:25] SidIcarus commented on #22
@ikappas
#26 appears to have no issues with the base. Is it possible to have it merged in to it?

[2017-01-12 20:19] ikappas commented on #22
@SidIcarus I had a look at the code and looks good. But I was wondering why you feel this is a better option than setting up a ruleset.xml as so:

[code]

[2017-01-12 20:36] SidIcarus commented on #22
@ikappas
The option makes it convenient not to have to duplicate a ruleset that is used among more then one project, custom or not, just to add one line.

In addition, you can have _always ignored_ set of directories in the ruleset and using the option allows for you ignore more if you want to focus in on certain directories / files since the inline option is appended.

Another consideration is if

[2017-01-12 20:50] SidIcarus opened #27 "Add label to extension message"
Request:
When you have more then one lint-type extension populating the Problems panel, having them label helps know where that message is coming from. This is helpful when you are first starting out and are still trying to determine what sort of rules you want them to be running. It also becomes annoying when more then one linter is unlabeled and you are looking to change the rules it runs.

lint

[2017-01-12 21:07] ikappas commented on #22
@SidIcarus  I can see the utility in this... I 'll have a look over the weekend

[2017-01-12 21:14] ikappas commented on #18
Closing this in favor of #23

[2017-01-12 21:14] #18 closed

[2017-01-12 23:34] MadCoder253 commented on #8
Thanks ikappas!

[2017-01-26 13:42] gabrielboliveira commented on #24
I was having this same issue. There are two ways I was able to fix:

1. Install dependency on project-level (refer to [this README](https://github.com/ikappas/vscode-phpcs/tree/master/phpcs#project-wide-installation))
2. Fix phpcs installation.

What I mean to fix phpcs installation is that for some reason installing with pear (via this [other method](/Users/gabrieloliveira/.composer/vendor/bin/ph

[2017-01-29 14:25] gwagroves commented on #24
- Installed plugin
- Installed phpcs globally using composer
- Symlinked `/Users/[user]/.composer/vendor/bin/phpcs` to `/usr/local/bin/phpcs`
- Restarted vscode
- Worked!

[2017-01-30 15:34] kasperbisgaard commented on #20
I have the same problem.

[2017-01-31 08:30] #22 closed

[2017-01-31 09:01] #23 closed

[2017-01-31 19:16] ikappas commented on #21
@nbouhid Thank you for reporting this. The settings you provided are ok and I tested them with WordPress-Core,WordPress-Docs and work as expected. Please check whether this issue occurs with vscode-phpcs 0.7.0

[2017-01-31 20:13] ikappas commented on #27
@SidIcarus Thank you for reporting this issue. This is fixed in 0.7.0

[2017-01-31 20:13] #27 closed

[2017-01-31 20:16] ikappas commented on #20
This plugin does not affect the sniffs in any way. This means that if you have false positives this means that something changed in phpcs. I think this kind of problem should be reported to https://github.com/squizlabs/PHP_CodeSniffer/issues directly

[2017-01-31 20:16] #20 closed

[2017-01-31 20:17] ikappas commented on #16
@glen-84 Thank you for reporting this issue. This is resolved in 0.7.0

[2017-01-31 20:17] #16 closed

[2017-01-31 20:19] ikappas commented on #12
@ChuckMac I assume that you are running on Windows. This issue is resolved in 0.7.0. If you experience further problems please feel free to open a new issue.

[2017-01-31 20:19] #12 closed

[2017-01-31 20:20] ikappas commented on #11
@benriga @tariqabulaila0 @arulpr Can you please check whether 0.7.0 fixes your issues?

[2017-01-31 20:22] ikappas commented on #15
@zmni  Can you please check whether this issue is resolved by 0.7.0?

[2017-01-31 20:22] ikappas commented on #17
@LiamKarlMitchell This is not available at this time.

[2017-01-31 20:22] #17 closed

[2017-01-31 20:24] ikappas commented on #24
@Swift-R @oknixus @gwagroves @gabrielboliveira Can you please check whether 0.7.0 fixes your issues?

[2017-01-31 20:29] ikappas commented on #19
@anibalsanchez Thank you for reporting this issue. Can you please elaborate a bit more on your use case.

Btw, I have just released 0.7.0 which incorporates changes to the language server implementation. So please check whether any of your issues are resolved by this yersion.

[2017-01-31 20:32] ikappas commented on #8
Hi guys! I have just released 0.7.0 which I tested on Mac OS and Windows incorporating changes with path handling in both the phpcs executable and the linted document. This should fix most of the issues you are experiencing so please let me know if this is the case.

[2017-01-31 21:10] MadCoder253 commented on #20
Cool, thanks ikappas!

[2017-02-01 05:38] Swift-R commented on #24
@ikappas looks like it's working now. I've switched back to Atom in the meanwhile for various reasons and it seems that it's working differently. For example, with the exact same code, Atom reports one line having more than 120 characters and a missing namespace while VSCode reports a missing doc comment for a class and a missing blank line before the tags in a doc comment in a method.

[2017-02-01 08:09] sataris opened #28 "adding phpcbf support"
Are there any plans to implement phpcbf support?

[2017-02-01 08:29] ikappas commented on #24
@Swift-R Are you using global phpcs or project specific with composer?

[2017-02-01 09:19] ikappas commented on #28
@sataris I haven't considered adding `phpcbf` support as it works differently from phpcs.

Our team uses it frequently from the command line before pushing code to the repository potentially fixing simple issues that we neglected.

We've actually incorporated `phpcs` and `phpcbf` support via composer scripts in order to use them in CI like:
[code]
So we can also easily run these tasks in the comma

[2017-02-01 10:18] anibalsanchez commented on #19
I will re-check the case in the new version.

The case is simple. You copy 100 files into your project folder and vscode-phpcs fires at least 10-20 php instances to check every file..... there is no other solution than kill vscode and all php instances.

[2017-02-01 10:36] ikappas commented on #19
@anibalsanchez
My team is involved in WordPress development so we always have projects that consist of several thousand php files but I have not observed this issue.

Also, phpcs linting is triggered when a file is opened and then only when a file is saved. So unless you are opening 100 files at the same time I can't understand what is going on.

Can you please elaborate on `copy 100 files into yo

[2017-02-01 14:04] alex-pex opened #29 "Add phpcs.error_severity and phpcs.warning_severity"
I'd like to be able to override the warning_severity (my CI tools doesn't care about warnings)
Eg: vendor/bin/phpcs . --standard=phpcs.ruleset.xml --warning-severity=0

There's no setting for this. Can you add those settings ?
/phpcs-server/src/linter.ts:43
/phpcs-server/src/linter.ts:281
/phpcs/package.json:33
/phpcs/README.md:56

(I would have posted a pull-request, but I don't know how to build

[2017-02-01 16:19] Swift-R commented on #24
Global

[2017-02-02 12:42] elvishp2006 opened #30 "Lint multiple folders on a directory"
It would be nice if it had a setting so I can set the folders of my code.

phpcs example:
[code]

[2017-02-06 00:41] YanweiJiang opened #31 "spaces or indentation not detected"
Using php standard PSR2:
when indented 2 spaces, it will complain and lint correctly;
when indented 6 or more spaces or multiple tabs, it will not complain and ignore

[2017-02-06 03:27] polyamide opened #32 "error: "phpcs: Unexpected token F in JSON at position 0""
I got this error "phpcs: Unexpected token F in JSON at position 0" every time I open or save a PHP file.

My phpcs is installed system-wide, and it is working properly in my terminal.

[code]

My guess is that this extension is parsing the text report (not a JSON format report) by mistake. The error message `Unexpected token F in JSON` looks like the first character of this:

[code]

[2017-02-11 01:13] weirdan opened #34 "Specify encoding"
By default, PHPCS [assumes file encoding to be encoded in ISO-8859-1](https://github.com/squizlabs/PHP_CodeSniffer/wiki/Configuration-Options#setting-the-default-encoding). Nowadays people generally use UTF-8, but some may use other multibyte charsets as well.

Not specifying encoding when running PHPCS on multibyte (including UTF-8, when using non-ascii characters) encoded files causes it to repo

[2017-02-11 01:18] weirdan opened #35 "Implement lint-as-you-type"
`vscode-phpcs` lints files on save (and load). It's possible to lint unsaved files by feeding file contents to PHPCS on its STDIN. This might provide for more interactive user experience: seeing if you introduced a problem or fixed one without saving the file.

You may borrow some implementation bits from [AtomLinter/linter-phpcs](https://github.com/AtomLinter/linter-phpcs) that implemented this f

[2017-02-11 13:35] ikappas commented on #34
@weirdan Thank you for reporting this issue. I am trying to find a way to access the document encoding from vscode but have not found a solution yet. I will open a ticket with the language server guys and hope to resolve the issue.

[2017-02-11 14:44] weirdan commented on #34
And you're not alone, it seems: Microsoft/vscode#824

[2017-02-11 17:11] ikappas commented on #35
@weirdan Have a look at the latest development branch and see if this works ;)

[2017-02-11 17:16] ikappas commented on #34
It seems that this can not go forward unless Microsoft/vscode#824 is fixed.

[2017-02-11 17:18] ikappas commented on #31
@YanweiJiang  can you please provide me with a sample php file that has this behaviour?

[2017-02-11 17:22] ikappas commented on #30
@elvishp2006 You can achieve this with a custom rulset.xml controlling include/exclude paths and standard. Let me know if this helps!

[2017-02-11 17:33] mike131 commented on #21
This may be related or I may be using incorrectly, but I have
`
{
  "phpcs.standard": "/path/to/phpcs-ruleset.xml"
}
`

I use a custom ruleset.

[2017-02-11 17:48] ikappas commented on #29
@alex-pex  This issue is implemented in the latest development branch and will be available through vscode-phpcs 0.8.0

[2017-02-11 17:48] #29 closed

[2017-02-11 17:51] ikappas commented on #21
@mike131 This is not related. But is the path/to/phpcs-ruleset.xml relative to the project?

[2017-02-11 20:17] mike131 commented on #21
@ikappas No,I am using the absolute path.

[2017-02-11 21:33] ikappas commented on #21
@mike131 windows or mac?

[2017-02-11 21:39] mike131 commented on #21
@ikappas Mac

[2017-02-11 23:00] weirdan commented on #35
It appears to be working. I'm a bit worried though because I don't see any code to throttle linting. Wouldn't it cause phpcs to be spawned for every keystroke?
I also observed some linting errors appearing for lines that are no longer there. I guess this could be caused linting starting when lines are still there, but completing after the lines had been already removed.

As a sidenote, you can use

[2017-02-12 06:40] YanweiJiang commented on #31
`<?php

if ($vars['page_type'] == 'home') {
    echo elgg_view('page/elements/home_page/header', $vars);
} else {
    echo elgg_view('page/elements/header_inner', $vars);
}
`

[2017-02-12 06:43] YanweiJiang commented on #31
[header.txt](https://github.com/ikappas/vscode-phpcs/files/769128/header.txt)

[2017-02-12 14:55] ikappas commented on #35
@weirdan After doing some tests, I found that change event is throttled at 200ms. See https://github.com/Microsoft/vscode-languageserver-node/blob/master/client/src/main.ts#L534
I have ported the fixed encoding code on the latest development branch. Let me know how this works!

[2017-02-12 15:59] weirdan commented on #35
This actually works pretty good for me.

[2017-02-13 08:35] ikappas commented on #31
@YanweiJiang I can confirm that this is happening and feels like a phpcs bug so I opened a bug here https://github.com/squizlabs/PHP_CodeSniffer/issues/1345

[2017-02-13 09:22] YanweiJiang commented on #31
agree. I tried in Sublime 3, it has the same issue.

[2017-02-13 09:51] alex-pex commented on #29
Thank you!

[2017-02-13 10:39] elvishp2006 commented on #30
Thanks for answering,
I'll try to do as you told me, but having this feature directly in extension makes it more powerful.

[2017-02-13 10:51] ikappas commented on #30
@elvishp2006 No problem!

[2017-02-13 10:51] #30 closed

[2017-02-13 10:51] ikappas commented on #31
@YanweiJiang According to https://github.com/squizlabs/PHP_CodeSniffer/issues/1345 this is intended behavior so I am closing this issue.

If you wish to apply more strict rules the following ruleset.xml configuration works the way you want:
[code]
See relevant https://github.com/squizlabs/PHP_CodeSniffer/wiki/Customisable-Sniff-Properties#genericwhitespacescopeindent

[2017-02-13 10:51] #31 closed

[2017-02-13 20:09] YanweiJiang commented on #31
Cool. Thank you

[2017-02-14 13:54] paulrrogers opened #36 "Non-red highlight color or option to customize"
It would be helpful if the highlight color were not red since that color is associated with errors. Ideally it could be customized.

[2017-02-15 02:00] tradzero commented on #28
@ikappas in fact, i hope we can use phpcbf to fix the page i just edit, because sometime we found a page have many issues to fix, and i have to open terminal and copy the path to fix it, i think it's complex sometime, so i hope i can type some command like format code, and it can auto fix this page or this project  problem.

[2017-02-15 09:29] anibalsanchez commented on #19
I haven't been able to reproduce it recently.

Case solved!

[2017-02-15 09:29] #19 closed

[2017-02-16 13:20] jenswegar commented on #28
+1 for phpcbf support. The way I would like to see it supported is that the plugin would run phpcbf on the currently open file in vscode when I save the file. That way it could quickly fix simple formatting errors I missed and then still review the changes.

[2017-02-21 22:25] mvdriel commented on #32
Any idea when version 0.8.0 will be released? This issue seems pretty critical to me.

[2017-02-23 17:31] ikappas commented on #36
@paulrrogers Thank you for your proposal.

Both VSCode and phpcs executable use red for errors and yellow for warnings.

I don't see value in changing this or providing additional support for something that will rarely be used (if at all).

[2017-02-23 17:31] #36 closed

[2017-02-23 17:36] ikappas commented on #32
@mvdriel I have not fully tested 0.8.0 and I am pretty swamped with a project atm. So I can't really say how soon I can release it.

Meanwhile you can easily clone this repo and build the plugin using the development branch and report any bugs 👍

[2017-02-23 17:46] ikappas commented on #8
I assume that this issue has been resolved in 0.7.0 so closing. Feel free to open a new issue if you do have problems

[2017-02-23 17:46] #8 closed

[2017-02-23 17:48] ikappas commented on #11
I assume that this issue has been resolved in 0.7.0 so closing. Feel free to open a new issue if you do have problems

[2017-02-23 17:48] #11 closed

[2017-02-23 17:49] ikappas commented on #15
I assume that this issue has been resolved in 0.7.0 so closing. Feel free to open a new issue if you do have problems

[2017-02-23 17:49] #15 closed

[2017-02-23 17:53] ikappas commented on #24
@Swift-R I have switched to using stdIn instead of file parsing and setup utf8 encoding similarly to Atom in v.0.8.0. So I am closing this issue and feel free to test 0.8.0 until it is released!

[2017-02-23 17:53] #24 closed

[2017-02-23 18:11] ikappas commented on #21
@mike131 I can not reproduce your issue as setting an absolute path for phpcs.standard works as expected in my mac even outside of the project folder. ie /Users/mike131/phpcs-ruleset.xml. I even tried with a ruleset with spaces in the path but it still works as expected. I am closing this issue as it @mike131 issue is not relevant and I assume the main issue is resolved with 0.7.0.  Feel free to o

[2017-02-24 16:39] spencerthayer commented on #8
I installed it just now and received the following error when opening a PHP file.

Also please note that "depency" is misspelled.

[2017-03-08 11:03] jareis opened #37 "VS code variables are not substituted"
Hello,

The variables used by VS are not being substituted by vscode-phpcs, on workspace settings:

my .vscode/settings.json:
[code]

**Outputs error:**
phpcs: The "${rootPath}/Standards/Joomla/ruleset.xml" coding standard set in your configuration is not installed. Please review your configuration an try again.

[2017-03-10 10:47] mwidmann opened #38 "phpcs: The "WordPress-Extra" coding standard set in your configuration is not installed..."
Been getting this error notification lately. phpcs is installed through brew and available at /usr/local/bin/phpcs

There is no other version of phpcs installed on my machine as far as I know and therefore the one in /usr/local/bin should be used.

The WordPress coding standards are installed

`→ phpcs -i`
`The installed coding standards are MySource, PEAR, PHPCS, PSR1, PSR2, Squiz, Zend, WordPres

[2017-03-11 11:58] sethstha commented on #38
Once I had the same problem. Reinstalling `phpcs` and `WordPress coding standard` solved my problem

[2017-03-11 17:21] bravo-kernel opened #39 "Windows 10 warning for all php files: File appears to be minified and cannot be processed"
I am having an issue where all php files opened in my Windows 10 Visual Studio Code IDE produce the following warning:

![afbeelding](https://cloud.githubusercontent.com/assets/230500/23825242/652d1fb0-0686-11e7-9722-c61470e2fb5c.png)

Full error message:

    file: 'file:///c%3A/Users/bravo/VScodeProjects/test-app/src/Controller/AppController.php'
    severity: 'Warning'
    message: 'File appear

[2017-03-14 12:11] mwidmann commented on #38
Thank you for the reply. In the meantime I figured out that somehow a second version of phpcs got installed on the machine through composer and that this version was used instead of the one in my path. I didn't want to investigate further so I added the WordPress-stuff to the installed_paths on this installation as well. Now it works.

[2017-03-14 12:11] #38 closed

[2017-03-20 13:29] andreyberezhnoy opened #40 "Disable when no config file"
Are there any plans to implement this feature?

Example in phpcs for Atom:
https://github.com/AtomLinter/linter-phpcs/blob/master/lib/main.js#L225

[2017-03-29 14:29] joneslloyd commented on #24
This is also an issue for me by the way. I'm running `Version 1.10.2 (1.10.2)`, and get the error `phpcs: Unable to locate phpcs. Please add phpcs to your global path or use composer depency manager to install it in your project locally.`.

I tried something akin to @gwagroves' fix, so that it now looks like this:
![screen shot 2017-03-29 at 16 29 26](https://cloud.githubusercontent.com/assets/997

[2017-04-08 07:19] AlDante opened #41 "Can't locate phpcs on macOS Sierra"
Although this has been closed twice,  the problem seems to persist. I have a fresh install of VSCode and I have installed phpcs to /opt/local/bin, which is in my path. Calling phpcs from the command line works fine.

Nevertheless I still get the message:

Moving phpcs to /usr/local/bin (also in my path) does not help.

Where does the plugin look for phpcs?

And thanks for your work on this Ioannis

[2017-04-08 12:01] ikappas commented on #41
Hi AlDante,

The plugin iterates over all the paths defined in your path variable and looks for `phpcs` executable.

I have `phpcs.phar` manually installed in `/usr/local/bin` and a symlink under the same path for `phpcs` -> `/usr/local/bin/phpcs.phar` that works under macOS 10.12.4.

Please make sure that `phpcs.phar` is executable using:
[code]
Also, my user account has rwx permissions on the ex

[2017-04-09 07:40] obruehl commented on #8
Yes, I confirm this issue.

[2017-04-09 12:39] AlDante commented on #41
Hi Ioannis,

thanks for the help. I added the link and checked the executability, but unfortunately I still have the same problem.

ll /usr/local/bin/phpcs.phar
lrwxr-xr-x  1 root  wheel    25B Apr  9 14:28 /usr/local/bin/phpcs.phar -> /opt/local/bin/phpcs.phar

ll /opt/local/bin/phpcs.phar
-rwxr-xr-x  1 david  staff   511K Apr  8 08:09 /opt/local/bin/phpcs.phar

Davids-MBP:bin david$ echo $PATH
/

[2017-04-10 10:10] ikappas commented on #41
@AlDante

You seem to have a symlink of phpcs.phar on /usr/local/bin pointing to /opt/local/bin with the extension phar.

Can you try making a symlink without the extension and see if this helps
[code]

[2017-04-11 08:19] AlDante commented on #41
Hi Ioannis,

thanks, that does the trick. Sorry for the distraction.

Kind regards,
  David

On 10. Apr 2017, at 12:10, Ioannis Kappas <notifications@github.com<mailto:notifications@github.com>> wrote:

ln -s /opt/local/bin/phpcs.phar /usr/local/bin/phpcs

[2017-04-11 08:40] ikappas commented on #41
@AlDante Good to hear that!

I hope this helps others experiencing the same issue! Closing this

[2017-04-11 08:40] #41 closed

[2017-04-18 02:26] wilsmex commented on #32
Same thing here.  Terminal works fine: "phpcs: Unexpected token P in JSON at position 0" in VSCode when trying to change any of the config settings such as "phpcs.standard".

[2017-04-18 10:50] ilidan85 opened #42 "phpcs: Unexpected end of JSON input"
Windows 10 Home
VS Code v. 1.11.2

Plugin not working on opened file. After saving showing notification with error:
"phpcs: Unexpected end of JSON input"

It worked perfectly yesterday.

[2017-04-19 14:52] jcloutz opened #43 "Unable to locate phpcs"
I am receiving the following error with phpcs installed locally and globally.

MacOS Sierra 10.12.4
VSCode 1.11.2

[code]

Terminal output:
[code]

EDIT:
The above error occurs on a project hosted on a mounted drive accessible through a VPN.

I tried it on a local project and receive the following error
[code]
Console output:
[code]

[2017-04-19 15:28] kassyn opened #44 "how to use phpcs.ignore?"

[2017-04-21 11:27] babanesma commented on #8
I confirm the issue on ubuntu 16.04 as well as the misspelled "depency"

[2017-04-26 11:51] mishac commented on #42
I'm having the same issue.  Pulling my hair out trying to figure out why it's happening!

[2017-04-29 10:45] srikat opened #45 "Unable to locate phpcs on macOS Sierra"
Hello,

I am trying to resolve this error:

I have phpcs installed in these locations:

![screenshot](http://d.pr/i/6SLZk+)

Output of `echo $PATH`:

I went through some of the previous issues on this topic and ran this in terminal:

[code]

and restarted VS Code. But that didn't make a difference.

Any idea?

[2017-04-29 10:51] srikat commented on #45
Also tried

`ln -s ~/wpcs/vendor/bin/phpcs.phar /usr/local/bin/phpcs`

unsuccessfully.

[2017-04-29 13:20] srikat commented on #45
Got it.

Detailed the steps here: https://sridharkatakam.com/how-to-set-up-wordpress-coding-standards-in-visual/

[2017-04-29 13:20] #45 closed

[2017-04-30 01:54] christophherr commented on #42
Just in case, here is the callstack I´m seeing:
[code]

[2017-05-01 13:22] christophherr commented on #42
If I open a single file directly (from the Windows explorer or from inside VSC with file - open file), I am getting the `phpcs: Unexpected end of JSON input` error.
http://prntscr.com/f2vc6z

If I open the folder containing the file and then click on the file / open the file, everything works.
http://prntscr.com/f2vckq

[2017-05-08 16:38] grEvenX commented on #24
@ikappas I'm having the same problem. How can we help test 0.8.0 before it's oficially released with VSCode?

[2017-05-15 07:18] frekel commented on #32
Can I bump this issue a bit? I really would like 0.8.0 released!

Thanks,
Frank

[2017-05-26 12:29] robindrost commented on #32
Cannot use the plugin anymore. Constantly getting the error Unexpected token F in JSON at position 0.

[2017-05-28 11:10] pjpmccarthy commented on #8
"I assume that this issue has been resolved in 0.7.0 so closing" Why don't you wait until you get confirmation from someone having the problem. For me it is NOT resolved. I have uninstalled phpcs plugin so that I don't get the annoying error message anymore.

[2017-05-29 15:26] Budolfsen commented on #8
Not working on Mac OSX even with global install or project based install...
How can we test the 0.8.0 version - to see if it fixes the issue...

[2017-05-31 09:24] hajekj commented on #8
Hi, I can confirm that for the original case (not working on Windows, this issue is resolved).

[2017-05-31 09:25] hajekj opened #46 "Add support for automatic fixes"
Hi, is it possible to have the extension support a command to run the autofix on a file like described in here? https://github.com/squizlabs/PHP_CodeSniffer/wiki/Fixing-Errors-Automatically I think it would be a really helpful feature.

[2017-05-31 10:20] slifin opened #47 "Not showing N further errors or warnings"
I have files in the project I'm working on that contain a lot of coding standard violations

<img width="636" alt="screen shot 2017-05-31 at 11 15 16" src="https://cloud.githubusercontent.com/assets/198857/26627455/76c886aa-45f2-11e7-8b6d-345ba45bc4b5.png">

Is it possible to see all the warnings and errors no matter how many there are?

[2017-05-31 12:23] yegorLitvinov commented on #32
try to install php-xml

[2017-05-31 12:23] yegorLitvinov commented on #32
try to install php-xml

[2017-05-31 14:10] frekel commented on #32
php-xml is installed, but the error keeps popping up :(

[2017-05-31 18:53] spencerthayer opened #48 "Unable to locate phpcs"
Issue #8 was closed and @hajekj reports that the issue is fixed for Windows. However, this is not the case for OS X. Please see comments below https://github.com/ikappas/vscode-phpcs/issues/8#issuecomment-282338771 .

[2017-05-31 18:54] spencerthayer commented on #8
Since this is closed nd @hajekj seems to no longer experience issues I opened a new issue for Mac OS X user. https://github.com/ikappas/vscode-phpcs/issues/48

[2017-06-01 06:40] pjpmccarthy commented on #8
@hajekj Are you no longer experiencing the issue only because you had to copy something into your protected Windows directory? If so then the issue is not resolved, it has a work-around

[2017-06-01 07:11] hajekj commented on #8
@pjpmccarthy I installed [PEAR](https://pear.php.net/manual/en/installation.getting.php) and then [Code Sniffer](https://github.com/squizlabs/PHP_CodeSniffer) through PEAR and it was working out of box. No modifications necessary.

[2017-06-02 08:16] Nomafin commented on #32
We solved this problem on my co-worker's computer so that we uninstalled the PHPCS that was installed with homebrew and used [this](https://github.com/squizlabs/php_codesniffer) one instead.

[2017-06-09 09:03] Budolfsen commented on #48
I can confirm that it is not working on OS X

[2017-06-10 12:03] srikat commented on #32
Not sure if this is related - in my case this is the error:

phpcs: Unexpected token ' in JSON at position 0

[2017-06-13 16:48] pedroskakum commented on #8
I have the same problem in linux, the message is:

´´´phpcs: Unable to locate phpcs. Please add phpcs to your global path or use composer depency manager to install it in your project locally.´´´

[2017-06-14 09:01] 91Abdullah commented on #11
I'm still receiving this issue in version 0.7.0

[2017-06-16 08:54] #40 closed

[2017-06-17 07:19] rezashamdani commented on #32
same problem to me.
the console seem having no problem running phpcs/phpcbf, yet the one inside visualstudiocode is always throw this kind of error.
sadly i have to disable this plugin in vscode until it being fixed, but i still using it on console.

@Nomafin  i've tried your suggestion, yet still not work. thanks

[2017-06-17 23:57] ejdunn2001 commented on #8
I am having the same issue.

[2017-06-18 07:41] Ceelog commented on #32
I also found this problem but I fix it in follow way:

- Environment
Windows 7 / vscode 1.13.1

- fix

try to execute following commend in your system
[code]

the only expected output should be a json object but ***without any other php notice/warnning/error***

if you get any other  php notice/warnning/error, you should change error_reporting setting in php.ini

gooooooood luck ;)

[2017-06-26 02:02] rezashamdani commented on #32
notice the error location by showing off the Toggle Developer Tools;
<img width="893" alt="screen shot 2017-06-26 at 8 59 29 am" src="https://user-images.githubusercontent.com/3622787/27522157-0645e7ea-5a4e-11e7-815c-e8638a244850.png">

[2017-06-26 10:15] vargaLaszlo commented on #44
+1

[2017-06-27 13:11] davisshaver commented on #32
I am having this problem too.

[2017-06-27 13:35] jackwilsdon commented on #47
This is a hard limit of VSCode, see Microsoft/vscode#9826.

[2017-07-04 00:19] inthedeepend commented on #32
I'm getting 'phpcs: Unexpected token N in JSON at position 0'

[2017-07-05 07:44] mauryaratan commented on #32
In my case, removing `<arg value="psvn"/>` from ruleset fixed the issue for me.

[2017-07-05 20:26] ADmad opened #49 "Add config to allow specifying phpcs executable location."
The plugin currently checks whether package with name `squizlabs/php_codesniffer` is present under `packages` or `packages-dev` of `composer.lock` and if found uses the phpcs binary from `vendor/bin`. Now my project has a dev dependency which itself has php codesniffer as dependency causing `squizlabs/php_codesniffer` package to be present under `packages-dev` of `composer.lock` and hence the plug

[2017-07-05 21:13] ADmad commented on #49
Turns out the checking of phpcs executable in environment paths is buggy which is what causes my particular issue. I have opened a PR to fix that.

Though it would still be nice to a config to simply specify phpcs and avoid avoid the path detection overhead.

[2017-07-08 07:10] McPan68 commented on #32
I'm getting 'phpcs: Unexpected token M in JSON at position 0'

**Environment:**
Windows 7 x64 / vscode 1.13.1 / PHP_CodeSniffer version 2.8.0 (stable)

Error just pops up when switching from php 5.6 to php 7.1. I'm using following wrapper batch file for phpcs call
`C:\devel\php56\php.exe "C:\bin\phpcs.phar" %*`
When I'm using the php 5.6 interpreter for phpcs, there's no error, when using php 7.0

[2017-07-10 17:16] marabesi commented on #49
@ADmad good catch, I had to add the phpcs dependency just to get the plugin woking. As you said would be great to have the ability to set phpcs exacutable.

[2017-07-10 21:33] mike131 opened #51 ""phpcs.standard" with a .xml doesn't work"
I have a ruleset.xml that I wanted to use to set the standard but I get an issue with DirectoryIterator (I believe)

I only see Unexpected token P or something along those lines as an error.

I had it set in settings as
[code]

[2017-07-11 18:54] mike131 commented on #51
I think I got it working by setting that default via phpcs command line

[2017-07-11 18:54] #51 closed

[2017-07-11 19:20] naknak987 commented on #48
I can't get it working in windows though.

[2017-07-12 18:45] tafelglotzer opened #52 "Autoformat"
Is there a way i can autoformat the code on save for PSR2 standards?

[2017-07-13 13:58] Paladin opened #53 "Add ability to select phpcs"
I've a phpcs version installed globally. How about a config param, say "phpcs.path" that would allow me to insert the path for my global phpcs for the times I want to test a different version of phpcs with existing projects?

[2017-07-13 21:32] mmoore247 commented on #32
Hi,

I am getting the error below when attempting to "Start Debug".

phpcs: Unexpected token C in JSON at position 0

**Environment**:

Ubuntu 17.04 / vscode 1.14.0

PHP PHP 7.0.18

If anyone could offer any insight on how to resolve this it would be greatly appreciated.

If there is any additional information I could provide to help narrow down the cause of the error please let me know.

Thanks!

[2017-07-15 06:20] McPan68 commented on #32
Hi,
as a test I would suggest to create a php file named `empty.php` i.e., which is containing just the php opening tag `<?php`. Nothing else, no whitespaces, no linefeed. Run this file on a command line with `php -f empty.php` and check if there is any output. As expected there should be no output at all. If there is still any output, maybe any warnings or error messages, I think this is the reas

[2017-07-15 06:27] msonowal commented on #48
me to macOS Sierra phpcs is installed globally via composer it terminal I can get output of phpcs i.e. PATH is present in environment but still now working

[2017-07-19 20:55] Paladin commented on #32
Just a heads-up. The fix in here (adding "-q" to the phpcs command) breaks with older versions of phpcs that don't have a -q option available. Might want to turn it into a config option?

[2017-07-21 17:05] mmoore247 commented on #32
Hey Guys,

I appreciate the responses! I switched my work machine to Arch and I am no longer having any issues. I am sure my issue was likely user error.

For what it is worth I did try Paladins suggestion prior to posting my original message and I should have mentioned that.

Thanks again,
Michael

[2017-07-22 03:03] chualuoi commented on #32
Just had the same issue and fixed it. I think this issue happen when you use phpcs 3.0. If I switch back to phpcs 2.9.1 then everything works fine.

[2017-07-23 07:12] purocean opened #54 "Can support Windows 10 Wsl?"

[2017-07-23 07:15] purocean commented on #54
![image](https://user-images.githubusercontent.com/7115690/28497443-c34ba994-6fb9-11e7-94c0-6d1938da9643.png)

[2017-07-23 07:48] purocean commented on #54
Solved!

[code]

[2017-07-24 06:53] chualuoi commented on #32
1 more update, I set up another machine recently and discover that If you're using [Wordpress coding standard](https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards), upgrading it may cause an issue as well.

[2017-07-28 02:19] jimrubenstein commented on #32
Having the same issue here (`phpcs: Unexpected token P in JSON at position 0`).

Was running PHPCS version 3.0.1

Per @chualuoi's suggestion, downgraded to 2.9.1.

Can confirm, no longer getting the issue.

If you have phpcs installed globally via composer, you can downgrade like this:

`composer global require 'squizlabs/php_codesniffer:~2.0`

that will give you the newest version of the 2.0 line

[2017-07-28 15:20] McPan68 commented on #32
Just switched from phpcs 2.8.0 to current 3.0.2 (vscode 1.14.2). Can't confirm any "unexpected token" errors yet.

[2017-07-28 15:33] jimrubenstein commented on #32
I feel like the error is coming from either phpcs, or an unexpected message
passed from phpcs back to the extension.

I'm not sure how to get in and debug the exact same phpcs command or the
returned message myself, otherwise I would.

The developer tools look like they pick up in the vscode worker, where the
extension is notifying vscode to display an error...which is well
after/away from where t

[2017-07-29 02:42] oojacoboo commented on #53
ABSOLUTELY!  I'm using a composer installed version myself, but this plugin makes a gross assumption that my composer.json and src files are all sitting at the root of the project.  As a result, it's unable to find phpcs.  It also won't work with a globally installed version via homebrew, b/c of the composer dependencies necessary for other rules.

I got it worked with a nasty hack to my $PATH add

[2017-07-29 06:05] oojacoboo commented on #35
When will we see 0.8.0 get pushed out?  I'd like to see this feature as well.  I've currently tweaked my autosave to give me this effect, but it's not preferred.

Also, I might point out, that there are some rules that fix whitespace that cause the cursor to go from an indented state back to the start of the line.  If this was doing it every 200ms, this feature would be useless since you'd have to

[2017-07-29 06:08] oojacoboo opened #55 "Support -s flag output"
The current error output doesn't tell you what rule definition originated the error.  This makes debugging and optimizing your rulesets significantly more difficult.

It's be nice if this information was included on the tooltip, but if not there, at least in the debug panel output.  My `phpcs.xml` file includes the -s flag argument, but it doesn't seem that's being respected with output.

[2017-07-31 02:14] shrop commented on #32
I have phpcs and Drupal Coder installed via global composer. I was able to get things working by setting Drupal Coding Standards like this: `"phpcs.standard": "Drupal,DrupalPractice"`. I did receive the JSON parse error mentioned when using an absolute path to the Drupal coding standard folder.

[2017-08-01 15:38] josenicomaia commented on #34
@ikappas Could not we do just send an extra flag to phpcs. Something like:

settings.json
[code]

[2017-08-01 15:40] bfodeke commented on #32
Confirmed that @shrop's fix worked for me

[2017-08-01 16:18] josenicomaia commented on #34
I added an PR to solve it.

[2017-08-02 02:30] seanvree commented on #43
Yeah, I'm having this same problem.

Anyone?

[2017-08-08 05:08] rezashamdani commented on #32
Updated the phpcs to `PHP_CodeSniffer version 3.0.2 (stable) by Squiz (http://www.squiz.net)`
Using both latest VS & VS Insider, still failed with error `phpcs: Unexpected token  in JSON at position 0`

any workaround for this issue?

[2017-08-08 16:00] Paladin commented on #32
The patch referenced earlier (basically changing phpcs-server/src/linter.ts so there's a "-q" in the command) works, so long as you're always going to be using a recent version of phpcs. The "-q"hasn't always been a valid option for phpcs, so it will crash if using an early enough version of phpcs (I *think* it fails on all 1.x but 2.x and higher may work...haven't done the detailed tracking to be

[2017-08-09 07:44] drjonnicholson commented on #42
Same problem here. If I open code within the workspace folder it works perfectly. If I open a file from that workspace in a new window (e.g. drag an editor from one instance to another on a different monitor) then I get this error.

If I open the folder above my workspace folder as a new workspace for the second vscode instance then the error goes away, but  of course it's now using the default co

[2017-08-12 12:02] muraliemd commented on #8
I am having this issue in windows. Can anyone help me out?
phpcs: Unable to locate phpcs. Please add phpcs to your global path or use composer depency manager to install it in your project locally.

[2017-08-14 17:56] gnowland commented on #32
Thanks @Nomafin, after a couple hours of head banging it turns out it was indeed the homebrew version of PHPCS that was causing the "`phpcs: Unexpected token P in JSON at position 0`" issue!! Running `brew uninstall php-code-sniffer` and subsequently `pear install PHP_CodeSniffer` completely solved it.

[2017-08-15 11:47] Juanses opened #57 "What's the point ?"
I've struggled for hours to install phpcs and it just says "you have an error". It would be much more convinient if it tried to fix it. But it doesn't. I can't manage to indent correctly my code that I modify with ftp-simple as I guess does 90% of php coders in the world. So this extension is pointless.

[2017-08-16 08:22] eddy147 commented on #8
Same issue, Windows 10.
My path is C:\bin\phpcs\bin
So no spaces.

[2017-08-16 09:34] kirtangajjar opened #58 "phpcs: The "WordPress" coding standard set in your configuration is not installed."
It has been set, I can set the standards through command line and it just works fine. However, I can't get it to work in vscode

[2017-08-17 08:13] iamanders commented on #32
Was having the same problem. But managed to solve it by downloading the latest version of Wordpress rulesets.

[2017-08-18 15:32] seanvree commented on #42
Same issue here. So annoying.

[2017-08-19 20:12] m4agenbitter commented on #32
I just started using phpcs and got the same error.
I could fix it by setting my coding standard on the command line and also got a lot of PHP notices, maybe not related though.
(I'm using Windows)
[code]

It worked flawlessly the second time:
[code]
This don't really sounds like a real fix to me, however it worked (somehow).

[2017-08-23 11:53] urre commented on #32
I solved this by installing 2.9 instead of 3.0. Installed phpcs from Composer.

[2017-08-25 20:12] b1kjsh opened #59 "phpcs.ignore doesn't work with comma separated lists"
When I try add 2 folders to phpcs.ignore like the following:
`{
    "phpcs.ignore": "/folder1/, /folder2/"
}`

I get an error stating that the second folder doesn't exist when in fact it does. Is this the correct syntax for this command? I tried to just add an array like so: `["folder1", "folder2"]` but vscode is telling me that it won't accept an array.

[2017-08-25 20:53] b1kjsh commented on #59
oh, I see what's happening. it looks like the version available in the extensions for vscode is a bit behind what's here on GitHub. It looks like there is a new option that will handle this, but until I can get the newer version through the extension store I'm not sure how to get this working in my environment.

[2017-08-25 20:55] b1kjsh commented on #59
hmm looks liike there are two listings for thiss on the store. I was able to find the newer version and use it instead.

[2017-08-25 20:55] #59 closed

[2017-08-27 23:30] AustinWinstanley commented on #32
**Workaround (Ubuntu 17.04/Composer)**

{
	"name": "",
	"description": "",
	"type": "",
	"license": "",
	"require": {},
	"require-dev": {
		"dealerdirect/phpcodesniffer-composer-installer": "0.4.0",
		"squizlabs/php_codesniffer": "2.9.1",
		"wp-coding-standards/wpcs": "*"
	}
}

[2017-08-28 19:34] jchristopher commented on #42
I hit this issue just now but after receiving some help I was clued into the underlying issue being my version of `phpcs`. I had `2.x` installed because it was a requirement of [the standard I was using](https://github.com/10up/10up-code-review) but after removing that and updating `phpcs` to `3.x` the error message is gone and I'm able to use another standard for the time being.

[2017-08-29 11:37] janverton opened #60 "phpcs: Cannot read property 'length' of null"
Hi there,

After doing a project wide installation of phpcs via composer and installing the plugin I get the following error every time the linter runs:

  phpcs: Cannot read property 'length' of null

Dev tools output is this:
[code]
Diagnostics seem to be empty, is it a configuration issue perhaps? When I run the command manually from the terminal it runs as expected

btw, phpcs version is this:

[2017-08-30 16:24] phayes commented on #28
Another way it could work is similar to the way a git merge or go-tests work, with "inline buttons" (not sure what the proper name of this feature is).

Here's an example of the way go does it with running tests.  We could have something similar with phpcbf called "fix code" or something like that.

![image](https://user-images.githubusercontent.com/207037/29883366-f075936c-8d64-11e7-8c8b-709f3ccc

[2017-08-31 14:25] yukulele commented on #35
how to install this version?

[2017-08-31 14:56] mrhn commented on #60
Having the same problem on the windows platform, thinking it can be the file path maybe? have not looked deeper into this.

[2017-09-01 02:37] virusvn commented on #32
I met this problem and here my solution:
At first, check phpcs (via composer) at the src folder, ex: "./vendor/bin/phpcs src", when I ran this command, I realized that my installed_path is incorrect, that's why it's displayed errors.
"phpcs: Unexpected token P in JSON at position 0" => because the result of above command "PHP Fatal error: ..."
"phpcs: Unexpected token F in JSON at position 0" => b

[2017-09-01 12:51] janverton commented on #60
It seems I had the wrong plugin with the same name installed, `phpcs 0.8.1` instead of `phpcs 0.7.0`. The latter one _does_ work! 👍

[2017-09-01 12:51] #60 closed

[2017-09-05 20:41] etiennejcharles commented on #58
To check your code standard installed via phpcs, in the commands line you should be able to run
[code]

It should contain "WordPress" in the results, if not, it's not installed. see here

<img width="1362" alt="image" src="https://user-images.githubusercontent.com/2872476/30082523-191dc980-9259-11e7-8c90-1873b89454f2.png">

[2017-09-08 14:57] setokaibakg commented on #32
homebrew and older php-code-sniffer rulesets aren't friends. I was trying to use drupal-code-sniffer.

I had to do the following to get it to work on a Mac.
brew install php-code-sniffer
brew install drupal-code-sniffer (which installs php-code-sniffer 3.0.2 as req)
brew install php-code-sniffer@2.9
which phpcs (get location installed or look at install info)
copy /usr/local/Cellar/php-code-sniffe

[2017-09-11 17:20] shrop commented on #58
I am experiencing the same issue with my settings: `"phpcs.standard": "Drupal,DrupalPractice"`

"The "Drupal" coding standard set in your configuration is not installed." Related, does it only work with one standard at a time?

Here are my phpcs -i results
`phpcs -i
The installed coding standards are Drupal, DrupalPractice, MySource, PEAR, PHPCS, PSR1, PSR2, Squiz and Zend`

[2017-09-11 17:24] shrop commented on #58
It seems like it is working for me if I enter full paths for where they live on my file system. Would like to get it working again with the short names (and multiples if possible) :)

[2017-09-14 06:57] thanh-taro commented on #32
I got the same issue and don't know how to fix it. But I think this plugin is using JSON format for report (`--report=json`) and it includes the log of phpcs (`...E...W...EEE........`) so when plugin read report, it failed and give us `phpcs: Unexpected token . in JSON at position 0` (the first letter of log)

[2017-09-14 07:31] thanh-taro commented on #32
I found a solution. Just add <arg value="q"/> to your rule standard (ex: `ruleset.xml`) and the problem solved.

[2017-09-19 07:03] kevinwhoffman commented on #58
Here is how I was able to get phpcs working with the WordPress coding standards.

1. Insert the following into `composer.json`:

[code]

2. Insert the following into your Visual Studio Code User Settings:

[code]

3. Run `composer install` or `composer update`.

Now the WordPress coding standards in your `vendor` directory will be made available to phpcs within Visual Studio Code and you should be

[2017-09-20 16:36] MikeVelazcoMtz opened #61 "phpcs: Line exceeds 120 characters (Line contains 118 characters)"
I opened a file and this warning appeared.

![screen shot 2017-09-20 at 11 27 26 am](https://user-images.githubusercontent.com/5341310/30655905-eba8b5e6-9df7-11e7-8f0d-96c25b10bbd6.png)

[2017-09-21 10:49] rrd108 opened #62 "after the first 1-2 files it seems to be stopped"
If I start vscode and open a PHP file (foo.php) the linter shows the problems. I open an other file (bar.php) and no problems showed.

On the output I can see linting started on: file: foo.php and linting completed on: file: foo.php, and there is nothing for bar.php

The 2 files are similar, about 100 lines of code.

My system
Ubuntu 17.04
VScode 1.16.1

[2017-09-28 07:13] pbarnum commented on #49
Turns out if you have phpcs as a dependency, but don't have it installed on your host machine (I use it within my docker container), and instead want to use the global installation reachable through the PATH, it will still only try running the project-specific composer version.

[2017-10-03 04:22] roshimon commented on #8
The same annoying **"phpcs: Unable to locate phpcs. Please add phpcs to your global path or use composer depency manager to install it in your project locally."**

[2017-10-04 21:03] jrfoell commented on #19
I'd like to reopen this ticket. This happens to me all the time when I'm switching between two branches in git that have a significant amount of files added/changed. It seems like vscode spawns an instance of phpcs for every file changed or added. The result is an insane load while they run - to the point where it seems like my computer has locked.

![phpcs-takover](https://user-images.githubuserc

[2017-10-07 18:42] dingo-d commented on #32
I am on MacOS HighSierra, and I have coding standards installed (I am using WordPress coding standards) in a folder called `wpcs` in my home directory. When i type `phpcs -i` in the terminal I get all the standards installed.

When I try to set the standard in visual code like

[code]

I tried with

[code]

Which gives me this error:

Is there a workaround for this?

[2017-10-08 09:47] thanh-taro commented on #32
@dingo-d You may need to add `<arg value="q"/>` to your xml rule set or use `-q` option on command.

[2017-10-08 13:04] dingo-d commented on #32
@thanh-taro But this is the default WordPress standard...

[2017-10-10 00:50] kendinitto commented on #42
I am having the exact same problem on my laptop. If I open a file directly in Visual Studio Code I get "phpcs: Unexpected end of JSON input". If I open a project folder first then open the file from within that project folder it works fine. This is a tough nut to solve. I want to be able to open a file directly because that way I can use flashfxp to edit files via sftp with VScode. VScode does not

[2017-10-10 17:39] auz1111 commented on #48
**phpcs: Unable to locate phpcs. Please add phpcs to your global path or use composer depency manager to install it in your project locally**

Still occurring on OS X.

[2017-10-11 09:25] AbhishekGhosh commented on #60
@janverton is correct. Use`phpcs 0.7.0` not `phpcs 0.8.1`. Do not install both together.

[2017-10-11 17:11] jrfoell opened #63 "Insane amount of phpcs processes spawned when switching branches with significant code differences."
This is a duplicate of #19 which is currently closed.

This happens to me all the time when I'm switching between two branches in git that have a significant amount of files added/changed. It seems like vscode spawns an instance of phpcs for every file changed or added. The result is an insane load while they run - to the point where it seems like my computer has locked.

![phpcs-takover](https://

[2017-10-12 09:32] dingo-d commented on #58
I have tried with projects that have vendor folder, and without, and it's not working...

[2017-10-12 09:58] dingo-d commented on #57
If you have phpcs installed, you can use `phpcbf` command that will fix minor issues for you...

[2017-10-12 16:18] dheerajwebkul commented on #32
OS: ubuntu 14.04
VSCode: 1.17.0
phpcs extention in vscode: Version : 0.7.0 https://marketplace.visualstudio.com/items?itemName=ikappas.phpcs

Everything was fine in the last vs code version But after just updating to vs code new v 1.17, I got this warning everytime open and save a PHP.

Is any idea to just hide this warning, if there is no solution to fix this for now?
It's very annoying.

Thanks,

[2017-10-13 01:35] kevinwhoffman commented on #58
@dingo-d Please provide more information about what is not working.

Did you run `composer install` and confirm that you have a directory at `vendor/bin/phpcs`?

[2017-10-13 05:10] dingo-d commented on #58
Yes, I have the vendor folder with `phpcs` installed with the specific coding standard. I have put in my settings

[code]

still get the

error when opening any php file.

[2017-10-16 14:53] falconxxx commented on #8
same issue 👎

[2017-10-17 18:09] Paladin commented on #32
Look up at the top of the thread. There's a commit entitled "Suppress non-JSON output" -- read it and make that change in your installed plugin.

It changes one line in the linter.js file (something like line 227 in the javascript file, I believe). That patch works around the error. Owner's just been too busy to package and ship it. (Or has decided to try and build a better fix, such as accepting

[2017-10-17 20:32] aymone commented on #32
<arg value="q"/> resolved this for me.

[2017-10-17 21:42] Paladin commented on #32
True, and in many circumstances that's a simpler approach. But sometimes you're sharing codebases with lots of other people, not all of whom care about special settings needed just for vscode (and some of whom may *want* the extra text that arg  stops). So it (phpcs.xml) becomes something extra for you to add to and keep track of for every project you work on. That kind of thing bugs me, but I adm

[2017-10-18 14:14] mbirth commented on #32
FYI: In Windows I have the error

And the problem seems to be that I opened a folder/file from a network share. The message returning from the phpcs call is:

[code]

When mapping that UNC to a drive letter and opening the project from that new "drive", phpcs works fine.

Maybe there should be code added to the `linter.ts` to filter out the error message (as the results are still there) or start c

[2017-10-18 14:37] phaberest commented on #29
Is the development still active here? I see this feature has been implemented but is not tagged

[2017-10-24 21:52] jEstevezRod commented on #43
I have the same error.

[2017-10-25 07:18] chimit opened #64 "How to use ruleset.xml if it exists in the project?"
I want to use a standard `ruleset.xml` if it exists in the project folder. Otherwise, use PSR2. Is it possible to get this behavior?

[2017-10-25 12:02] mhaagens commented on #8
Same issue. Globally installed and available in PATH.

[2017-10-25 17:40] soniktrooth commented on #21
I'm having this same issue.

[2017-10-26 11:19] MohammadShawon commented on #8
I have installed PEAR and PHP Codesniffer but still getting error in VSCode.
phpcs: Unable to locate phpcs. Please add phpcs to your global path or use composer depency manager to install it in your project locally.

[2017-10-27 09:27] ikappas commented on #61
@MikeVelazcoMtz Thank your for submitting an issue!

I am not sure whether phpcs.phar counts line-endings.
When you lint the same file in your terminal does this warning come up?

[2017-10-27 09:32] ikappas commented on #47
@slifin Thank you for submitting this issue.

As @jackwilsdon accurately explained this is a a hard limit of VSCode.

[2017-10-27 09:32] #47 closed

[2017-10-27 09:39] ikappas commented on #46
@hajekj Thank you for submitting your suggestion.

This is a duplicate of #28 so I am closing this issue. Feel free to continue the conversation there!

[2017-10-27 09:39] #46 closed

[2017-10-27 19:06] ikappas commented on #58
@dingo-d  There is an issue with Infinum declaring default report type ([see here](https://github.com/infinum/coding-standards-wp/blob/master/Infinum/ruleset.xml#L16)) in the ruleset. You can verify this yourself by running the following command in your workspace root:
[code]
which will output the json report followed by the list of errors. That is why you get an error with all of your php files b

[2017-10-27 19:09] ikappas commented on #58
@kirtangajjar Thank you for submitting this issue. Can you please provide some more information on how you have your project/phpcs/vscode setup?

[2017-10-27 19:37] ikappas commented on #64
@chimit

You can configure the `phpcs.standard` to either the path to your projects ruleset.xml **or** the name of an available standard such as PSR2.

If you leave `phpcs.standard=null` It will use the globally defined default standard which is PSR2 but it is not recommended.

As best practice it is better to configure your project's coding standard even for PSR2. This will keep your project conf

[2017-10-27 19:41] #57 closed

[2017-10-27 19:44] ikappas commented on #63
@jrfoell I just pushed some code on the development branch.

Can you check whether this issue persists in the development version as there are significant changes on how things are handled under the hood.

[2017-10-27 22:56] ikappas commented on #55
@oojacoboo I've just added support for this to the development branch. Can you test this and let me know whether it covers your use case?

[2017-10-27 22:59] ikappas commented on #35
@weirdan @oojacoboo @yukulele I've pushed some changes in the development branch. Can you test these changes ?

[2017-10-27 23:16] ikappas commented on #32
Hi everyone and thank you for your patience!

A lot of these issues come from errors occurring during phpcs execution such as PHP Notices, PHP Fatal Exceptions, Other Script Output, etc, most of which can be detected as follows:

Execute the phpcs command with --report=json and see whether the output contains anything other than json that would cause the extension to fail!

It has also come to my

[2017-10-27 23:19] ikappas commented on #32
@mbirth Have a look at https://support.microsoft.com/en-us/help/156276/cmd-exe-does-not-support-unc-names-as-the-current-directory

[2017-10-27 23:24] ikappas commented on #32
Regarding the -q option :

1. -q (quiet) option is available since phpcs 2.6.2
2. It has been implemented in the development branch for quite a while... just not published!

[2017-10-27 23:34] ikappas commented on #44
@kassyn

Preparing for version 1.0.0 :

### **phpcs.ignorePatterns**

[ Optional | **Type:** `array` | **Default:** `null` ]
This setting controls the files and directories to ignore when linting your documents. You may specify an array of glob patterns to ignore files and directories.

[code]

[2017-10-27 23:34] #44 closed

[2017-10-28 03:13] weirdan commented on #35
I got this running, it appears to be working. Is there anything specific you would like to get tested?

[2017-10-28 07:37] dingo-d commented on #32
We have full report set as default in our coding standards, so that should override any other output (unless you are trying to force the json at all times). Also I tried with the default standards, and couldn't get it to work properly.
When looking at the default sniffs, they don't seem to force any special report type.

[2017-10-28 08:03] dingo-d commented on #58
Hi @ikappas thanks for the answer. I will update the standards with the correct post install and update scripts, although we had the post install commands set up in the composer file: [link](https://github.com/infinum/coding-standards-wp/blob/10b5a193f9d6945a92de2e701b87b67549451659/composer.json#L22).

As for `json` report, this seems like an upstream issue. I will report this in the PHPCS repo.

[2017-10-28 08:06] ikappas commented on #54
@purocean Good to know! Thank you for reporting this

[2017-10-28 08:06] #54 closed

[2017-10-28 08:19] kirtangajjar commented on #58
@ikappas I encountered this issue long time ago. Maybe I was able to solve it, or just gave up. I just can't recall. I would've loved to help, but unfortunately I can't as I don't recall much details.

Even the project I was working on was kind of an assignment and I've finished it. Hence, I don't need this particular functionality now :(

[2017-10-28 08:28] ikappas commented on #42
Hi everyone and thank you for reporting this issue.

Can you specify which version of the plugin you are using?

The development branch has significant changes that may help. Can you please test whether the issues you are experiencing are resolved with the latest version?

[2017-10-28 08:30] dingo-d commented on #58
I reported it to the official repo and will see what they'll say. In the meantime, the best course of actions would be to remove the report type from the standard altogether.

[2017-10-28 08:31] ikappas commented on #58
@kirtangajjar No problem!  I will mark this issue as resolved. Please feel free to open a new issue if you continue to experience any issues.

[2017-10-28 08:31] #58 closed

[2017-10-28 08:34] ikappas commented on #39
@bravo-kernel  Thank you for reporting this issue. Did you manage to resolve it?

[2017-10-28 08:53] bravo-kernel commented on #39
I will recheck

[2017-10-28 09:08] ikappas commented on #37
It looks like vscode doesn't really support this either ([Microsoft/vscode#2809](https://github.com/Microsoft/vscode/issues/2809)).

[2017-10-28 09:09] ikappas commented on #39
@bravo-kernel can you use the plugin from the development branch to make sure it works?

[2017-10-28 09:12] ikappas commented on #53
@Paladin @oojacoboo Thank you for submitting this issue. I am closing this in favor of #49

[2017-10-28 09:12] #53 closed

[2017-10-28 09:16] ikappas commented on #49
@ADmad @pbarnum I will be implementing this option soon

[2017-10-28 12:27] chimit commented on #64
Yes, I have a project's coding standard in `ruleset.xml`, but it's ignored by the VS Code PHPCS.

[2017-10-28 16:35] ikappas commented on #64
@chimit if the standard resides at the root of your workspace you can set :
[code]

[2017-10-28 16:52] andrebonon commented on #21
I'm having the same issue, and it is too annoying.

[2017-10-28 18:03] ikappas commented on #21
@soniktrooth @andrebonon
1. Which version of vscode-phpcs are you using?
2. Which version of phpcs are you using
3. How do you have phpcs installed (globally/composer)
3. What is the output of `phpcs  --report=json`

[2017-10-29 06:18] chimit commented on #64
Yes, but it's a little bit strange for me after my Atom experience. Maybe it's better to make it like in Atom? Use `ruleset.xml` if it exists in the project, otherwise use plugin settings (set PSR2 as default). In this case, we don't need to change global PHPCS settings and plugin settings on every project.

[2017-10-29 06:37] azbatuk commented on #32
I was having this same problem. My error message was "phpcs: Unexpected token X in JSON at position 0".

Ubuntu 16.04 LTS, PHP7.1, VS Code 1.17.2, PHPCS 0.7.0

I followed McPan68's suggestion to troubleshoot it. I created a php file (empty.php) which contained only the php opening tag <?php. Nothing else. Then I ran this file on a command line with "php -f empty.php" and I received "XDebug could n

[2017-10-29 11:54] bravo-kernel commented on #39
Googling like crazy 😉

[2017-10-29 13:21] bravo-kernel commented on #39
I have invested two hours trying to get the phpcs-server to compile the extension but unfortunately to no avail. Any chance you could make the compiled dev version available (for download or something)?

[2017-10-29 13:23] bravo-kernel commented on #39
![image](https://user-images.githubusercontent.com/230500/32144148-ad1e0e08-bcb4-11e7-9605-04cce73f18cb.png)

[2017-10-29 13:37] ikappas commented on #39
@bravo-kernel Did you run the npm install task first?

[2017-10-29 13:45] bravo-kernel commented on #39
Yes, I did (while trying to update your readme a little):

1. git clone my fork
2. install the VS Code npm extension
3. Open `phpcs` folder using VS Code
4. Run `npm install` command
5. Press F5

Tried it twice, once from a clean clone

[2017-10-29 13:47] ikappas commented on #39
@bravo-kernel Try the following:

1. Open the phpcs project in vscode containing both client and server folders (root of this project)
2. Select run task from vscode menu and run npm install
3. Select run task from vscode menu and run compile
4. Go to debug sidebar and select Client+Server option am click debug

This should have you up and running ;)

[2017-10-29 13:49] ikappas commented on #39
The documentation may need some updating :)

[2017-10-29 13:51] bravo-kernel commented on #39
Thanks, attempting that right now. I will update the docs one I get this working 👍

[2017-10-29 13:59] bravo-kernel commented on #39
Awesome instruction mr. @ikappas, much obliged.

I can confirm the error is resolved.  Would you mind sharing what the cause was?

ps: I will PR an update to the readme

[2017-10-29 14:16] hzb commented on #48
@auz1111 me too, `phpcs: Unable to locate phpcs. Please add phpcs to your global path or use composer depency manager to install it in your project locally.` still occurring on macOS.

OS: macOS High Serria
Version: 10.13.1 beta(17B46a)
VSCode version: 1.17.2

[2017-10-29 15:00] ikappas commented on #48
@auz1111 Which version of the extension are you using? The marketplace one or the development one?

[2017-10-29 15:21] ikappas commented on #39
@bravo-kernel I am not really sure why this occured but a quick google search produced :
- [https://github.com/squizlabs/PHP_CodeSniffer/issues/720](https://github.com/squizlabs/PHP_CodeSniffer/issues/720)
- [https://github.com/squizlabs/PHP_CodeSniffer/issues/1626](https://github.com/squizlabs/PHP_CodeSniffer/issues/1626)

[2017-10-29 15:21] #39 closed

[2017-10-29 15:27] bravo-kernel commented on #39
Sweet, thanks for the support !

[2017-10-29 15:53] ikappas commented on #39
No problem! :)

[2017-10-30 19:05] jrfoell commented on #63
Thanks @ikappas - yes this seems to only lint active (open) files... much better!

[2017-10-30 19:40] arijnr commented on #42
I have the same problem:
![issue](https://user-images.githubusercontent.com/14283324/32191736-3392e4c4-bd99-11e7-8996-435c5a57e12c.png)

[2017-10-30 20:22] soniktrooth commented on #21
@ikappas I think I've fixed it by uninstalling and reinstalling everything. Not sure what the issue was. Thanks.

[2017-10-31 13:44] rob-gordon commented on #48
Also having this problem on Sierra with the marketplace extension.

[2017-10-31 18:52] oojacoboo commented on #35
@weirdan I'm getting `phpcs: Cannot read property 'length' of null`.  Not sure where to find more information on this error?

[2017-10-31 19:34] weirdan commented on #35
@ikappas, oh, I had that problem too. Had to cleanup all unversioned/ignored files, then rebuilt the ext & server an then it worked.

[2017-10-31 19:45] oojacoboo commented on #35
Looks like the `.gitignore` is incorrect.

`*/node_modules` should be `node_modules`.

[2017-10-31 19:51] oojacoboo commented on #35
Same error here though, after that.  `phpcs: Cannot read property 'length' of null`.

[2017-10-31 19:55] weirdan commented on #35
Try fresh git clone

On Tue, Oct 31, 2017, 21:51 Jacob Thomason <notifications@github.com> wrote:

[2017-10-31 19:56] oojacoboo commented on #55
@ikappas struggling with testing these at the moment.  See #35.  It'd be nice if there were an easier way to test dev builds of extensions in vscode :/

[2017-10-31 19:56] oojacoboo commented on #35
@ikappas yep.

[2017-10-31 19:57] ikappas commented on #35
@oojacoboo win or mac?

[2017-10-31 19:58] oojacoboo commented on #35
@ikappas mac.  It'd be nice if the error output actually told you something helpful.  That's a needle/haystack error message output.

[2017-10-31 20:04] ikappas commented on #35
@oojacoboo The error suggests that an array is returned somewhere as null

[2017-10-31 20:07] oojacoboo commented on #35
@ikappas okay sure.  But that doesn't really help much.  I don't know if this is within analyzed PHP code, the plugin source, the configuration, etc.  It's virtually impossible to track that down, especially since I don't know much about how this plugin works.

It is working properly on `0.7.0`, however.

[2017-10-31 20:10] ikappas commented on #35
@oojacoboo can you post your phpcs related settings.json config?

[2017-10-31 20:12] weirdan commented on #35
I suspect it's caused by old 'phpcs/server' folder not being cleaned up on build.

[2017-10-31 20:13] oojacoboo commented on #35
[code]

[2017-10-31 20:13] ikappas commented on #35
@weirdan If that is the case then manually delete the server folder and run vscode compile task

[2017-10-31 20:42] ikappas commented on #35
@oojacoboo did you try last suggestion?

[2017-10-31 23:28] oojacoboo commented on #35
@ikappas I don't know what the "server folder" is.  Where is that?

[2017-11-01 09:08] ikappas commented on #35
@oojacoboo phpcs/server

[2017-11-01 10:24] mbirth commented on #32
@ikappas I finally got the chance to test that registry setting. But now the error changed to:

(The folder opened in VSCode was `\\someserver\d$\htdocs\somedirectory`.)

[2017-11-01 14:27] WraithKenny commented on #28
I was hoping that VSCode's "Format Document" command  would simply respect the phpcs settings for a php file. That'd be incredible.

If it's not possible or desirable to hook into that command, perhaps a simple new command that would attempt phpcbf on the current file, named "Format Document with PHPCS" or some such.

[2017-11-01 23:27] ikappas commented on #35
I just pushed some major new features in `develop` branch that need testing and include:

- ability to set phpcs.executablePath
- ability to set phpcs.showWarnings
- ability to set phpcs.showSources
- ability to enable phpcs.trace.server with messages or verbose option for tracing errors.
- ability to set phpcs.composerJsonPath to something other that workspaceRoot/composer.json

Your feedback is

[2017-11-01 23:27] ikappas commented on #63
I just pushed some major new features in `develop` branch that need testing and include:

- ability to set phpcs.executablePath
- ability to set phpcs.showWarnings
- ability to set phpcs.showSources
- ability to enable phpcs.trace.server with messages or verbose option for tracing errors.
- ability to set phpcs.composerJsonPath to something other that workspaceRoot/composer.json

Your feedback is

[2017-11-01 23:27] ikappas commented on #42
I just pushed some major new features in `develop` branch that need testing and include:

- ability to set phpcs.executablePath
- ability to set phpcs.showWarnings
- ability to set phpcs.showSources
- ability to enable phpcs.trace.server with messages or verbose option for tracing errors.
- ability to set phpcs.composerJsonPath to something other that workspaceRoot/composer.json

Your feedback is

[2017-11-01 23:28] ikappas commented on #32
I just pushed some major new features in `develop` branch that need testing and include:

- ability to set phpcs.executablePath
- ability to set phpcs.showWarnings
- ability to set phpcs.showSources
- ability to enable phpcs.trace.server with messages or verbose option for tracing errors.
- ability to set phpcs.composerJsonPath to something other that workspaceRoot/composer.json

Your feedback is

[2017-11-01 23:38] ikappas commented on #43
I just pushed some major new features in develop branch that need testing and include:

ability to set phpcs.executablePath
ability to set phpcs.showWarnings
ability to set phpcs.showSources
ability to enable phpcs.trace.server with messages or verbose option for tracing errors.
ability to set phpcs.composerJsonPath to something other that workspaceRoot/composer.json
Your feedback is very welcome!

[2017-11-02 03:06] oojacoboo commented on #35
@ikappas `phpcs: ENOENT: no such file or directory, lstat '/Volumes/repos/foo/web/composer.json'`

`composer.json` is located in a sub directory of the project, one level deeper.  Not sure why this should be triggering a `phpcs` issue at any rate.

[2017-11-02 09:07] ikappas commented on #35
@oojacoboo Good to hear you got your first error sorted out.

I assume that your workspace root is `/Volumes/repos/foo/web/` so by default the plugin looks for a composer.json file there to automatically resolve the phpcs executable path. It should ignore the missing composer.json and move to searching your global path so I'll have a look.

Meanwhile, since your composer is located one level deepe

[2017-11-02 11:10] ikappas commented on #35
@oojacoboo I fixed the issue when composer.json was not found and pushed the code to `develop`

[2017-11-02 12:16] ikappas opened #66 "PHP_CodeSniffer 3.1.x Bug: Directory exclusions do not work as expected when a single file name is passed to phpcs"
While testing the plugin and specifically the `phpcs.excludePatterns` setting  I run into https://github.com/squizlabs/PHP_CodeSniffer/issues/1731

[2017-11-02 14:25] ADmad commented on #49
I tried the `develop` branch and the new `phpcs.executablePath` path seems to work as expected, allowing me to specify the phpcs executable location, which solves my problem.

[2017-11-02 14:58] jrfoell commented on #63
Hmmmm... phpcs is again linting every file in my project. This becomes problematic with 3rd party libraries that don't conform to the select code standard. Is there a way to specify to only lint files that are currently open in the editor?

[2017-11-02 15:10] ikappas commented on #63
@jrfoell you can set phpcs.ignorePatterns setting with glob patterns like so:

[code]

[2017-11-02 15:22] ikappas commented on #63
@jrfoell can you please set `"phpcs.trace.server": "messages"` setting and post back the output from Output > PHP Code Sniffer

[2017-11-02 17:58] jrfoell commented on #63
Thanks, I added that and opened up a new folder which was cloned from https://github.com/WebDevStudios/custom-post-type-ui/

I first opened up `custom-post-type-ui.php` (top two lines in Output). Then I switched to a stale branch (354-admin-ui-enhancements) which had a lot of changes.

My original report was me hoping for an option that would only lint files that are currently open - which is defa

[2017-11-02 18:51] ikappas commented on #63
@jrfoell Thank you for the detailed report. I can't reproduce your issue using the specified repository and the steps you took. My output while changing between the two branched multiple times is:
[code]

[2017-11-02 18:52] ikappas commented on #63
@jrfoell Which version of phpcs are you using?

[2017-11-02 20:00] jrfoell commented on #63
Currently PHP_CodeSniffer version 3.1.0.

I'm going to run a couple more tests because I'm seeing inconsistent results. On one run I got the error:

`phpcs: A composer configuration file was found at the root of your project but seems uninitialized. You may need to initialize your dependencies using "composer install".`

Which doesn't seem like it should be related to phpcs.

[2017-11-02 20:28] jrfoell commented on #63
I disabled all of my extensions except phpcs. Using vscode 1.17.2. On the latest development commit ea9fc05 here's what I do and what I get.

Launch vscode
Open vscode-phpcs folder
Go to debug pane, select `Client+Server` and click play.

In child window get (expected) warning:
[code]

In parent window get (unexpected) error:
[code]

In child window:
Open `custom-post-type-ui.php`
Get (unexpected)

[2017-11-02 20:41] jrfoell commented on #63
Strangely, the issue with phpcs not linting my file right when I open it is inconsistent :(

[2017-11-02 21:23] ikappas commented on #63
@jrfoell I run into this issues while testing. Let me explain:

### Issue  1:
[code]
This is expected if a php file is not open when vscode launches the server is not ready and the server debug process times out. It is mentioned as a note at the bottom of [README.md](https://github.com/ikappas/vscode-phpcs/blob/develop/README.md)

### Issue 2:
[code]
This happens on the `354-admin-ui-enhancements`

[2017-11-02 21:31] ikappas commented on #63
@jrfoell btw if you set the `phpcs.executablePath` the experience is consistent.

[2017-11-02 21:34] jrfoell commented on #63
Thanks @ikappas your explanation of those errors helps :+1:  Sorry that I missed the one from the development readme.

That makes sense about the composer inclusion. I added `"phpcs.executablePath": "/usr/bin/phpcs"` to my configuration and things are now working as expected :100:

[2017-11-02 21:37] ikappas commented on #63
@jrfoell I will probably remove the `A composer configuration file was found...` error altogether so that the resolver fails silently.

[2017-11-02 21:39] jrfoell commented on #63
I would keep it - it makes sense now that you've explained it and will make sense to those using a specific phpcs version as a dependency in their project's composer file.

[2017-11-02 21:56] ikappas commented on #63
@jrfoell the documentation will be updated on vscode exension marketplace when the 1.0.0 final is published. Meanwhile the you can check [phpcs/README.md](https://github.com/ikappas/vscode-phpcs/blob/develop/phpcs/README.md)

[2017-11-02 22:06] ikappas commented on #63
Closing this as resolved.

[2017-11-02 22:06] #63 closed

[2017-11-02 22:08] ikappas commented on #21
@soniktrooth @andrebonon Can you try the latest development branch to test whether your issues are resolved?

[2017-11-02 22:11] ikappas commented on #42
This issue should be resolved in latest `develop` branch so please consider testing your use cases.

[2017-11-02 22:19] ikappas commented on #64
@chimit It is a matter of configuration. The `phpcs.standard` setting is consistent with the `phpcs --standard` option on the command line. Please see the [README.md](https://github.com/ikappas/vscode-phpcs/tree/develop/phpcs#phpcsstandard)

[2017-11-02 22:19] #64 closed

[2017-11-02 22:22] ikappas commented on #62
@rrd108 Thank you for submitting an issue.

I encountered a similar issue on Windows where the stdin spawn pipe was closed and an unhandled exception was thrown crashing the phpcs-server. Can you please install the latest `develop` branch and test whether your issue is resolved as this has been fixed there.

[2017-11-02 22:25] ikappas commented on #52
Closing this in favor of #28

[2017-11-02 22:25] #52 closed

[2017-11-03 00:22] oojacoboo commented on #35
@ikappas tested the latest commits.  No issues here.

`phpcs.showSources` is awesome - much needed to perfect our configs without having to go to the terminal and run `phpcs` separately.

And, of course, linting as you type is huge!

Let's get this thing deployed!

[2017-11-03 00:46] arijnr commented on #42
I tested the latest develop branch and the issue is solved in my machine, thank you!

[2017-11-03 01:53] christophherr commented on #42
Just tested the latest develop branch and it worked with single php files.
No "Unexpected end of JSON input" errors.

I had to set the phpcs.executablePath (error message was something along the lines of "expected String, received null").

[2017-11-03 08:28] ikappas commented on #42
@arijnr @christophherr Thank you for taking some time to test the new version!

@christophherr can you temporarily disable the `"phpcs.executablePath"` and set `"phpcs.trace.server" : "messages"` config in you settings and post back your trace from `PHP Code Sniffer` output to further debug the expected String, received null error?

[2017-11-03 08:32] ikappas commented on #43
This issue should be resolved in latest develop branch so please consider testing your use cases.

[2017-11-03 08:32] ikappas commented on #48
This issue should be resolved in latest develop branch so please consider testing your use cases.

[2017-11-03 08:33] ikappas commented on #49
@ADmad Thank you for reporting your findings!

I' am closing this as resolved

[2017-11-03 08:33] #49 closed

[2017-11-03 08:43] ikappas commented on #55
This has been implemented in 1.0.0-beta.x. You can enable this option by setting the following configuration:
[code]

[2017-11-03 08:43] #55 closed

[2017-11-04 01:30] bryanlopezcodes commented on #8
Same problem here

[2017-11-04 15:49] christophherr commented on #42
@ikappas
Unfortunately, there is not Output for PHP Code Sniffer.
If I set `"phpcs.trace.server": "verbose"`
the output is:
[code]
Did the previous version scan/search for the executable?
(I installed phpcs globally with Composer)

[2017-11-04 19:37] ikappas commented on #42
@christophherr it still does scan/search for the executable. `phpcs.executablePath` bypasses this. Do you have C:\Users\{ your username here }}\AppData\Roaming\Composer\vendor\bin in your path (basically the path reported by the command: `composer global config bin-dir --absolute`)

[2017-11-04 22:00] christophherr commented on #42
Yes, it's in the path.
Not sure if it matters but there is a "slash mismatch" at the vendor and vendor\bin folders
using `composer global config --list` but the slashes "match" with `where phpcs` and `which phpcs`

![slash-mismatch](https://user-images.githubusercontent.com/8683126/32409750-e91d3d84-c187-11e7-9aee-e4bf2a2afa8b.jpg)

It works setting `"phpcs.composerJsonPath"`  or `"phpcs.executabl

[2017-11-05 19:03] ikappas commented on #42
@christophherr I can't reproduce your issue in a new windows installation from scratch.

[2017-11-06 15:39] WraithKenny commented on #28
A quick snippet for `tasks.json` which works, but could use someone smarter than me to work out the `problemMatcher`

[code]

Of course the feature request here would be the nicety of pulling `"phpcs.standard": "WordPress"` value into the task automagically.

[2017-11-07 16:16] kendinitto commented on #42
Hello, I want to try the develop branch but I usually just use pear to install it , "pear install PHP_CodeSniffer" is there a way to install it with pear or is git the only way?

[2017-11-08 19:17] Orlegi commented on #8
Same issue on MAC OSX. Any advice?

[2017-11-09 12:44] SoulFireMage commented on #8
This problem still appears in my current version :)

"phpcs: Unable to locate phpcs. Please add phpcs to your global path or use composer depency manager to install it in your project locally."

I'm on Windows 10 with the current version of VScode.

[2017-11-10 23:22] dwich commented on #8
Same problem on Win10, latest, VScode 1.18, phpcs installed using `curl` as mentioned here:
https://github.com/squizlabs/PHP_CodeSniffer
Even though phpcs can be executed on my system in all possible shells without problem, VScode still returns the error message. Those who use git-bash on Windows can use this script "phpcs"

[code]

or phpcs.cmd for cmd.exe shell
[code]
cmd.exe can see phpcs, git-

[2017-11-11 01:08] ravindragullapalli commented on #8
In Ubuntu 16.04, I used PHP Code sniffer from [PHP_CodeSniffer](https://github.com/squizlabs/PHP_CodeSniffer) and added **bin** folder to the global path. That removed the message and I started getting suggestions from phpcs.

[2017-11-13 08:53] babanesma commented on #8
@ravindragullapalli I don't have this issue no more , thank you and thanks everyone

[2017-11-13 16:13] itsam commented on #21
vs: 1.18.0
phpcs: 3.0.2 (stable)
installed via composer
the output of phpcs --report=json seems fine and as expected

Still I am having the same issue, namely "phpcs: Unexpected token P in JSON at position 0" in each file save.

Any ideas are welcome. Thanks!

[2017-11-13 18:55] ikappas commented on #21
@itsam The extension on the marketplace is due for an update. Meanwhile, you can try the develop branch as it has a lot of fixes.

[2017-11-13 22:06] JClerc commented on #35
The new features sound awesome! When will this be deployed?

[2017-11-13 23:20] ikappas commented on #35
@JClerc Working on multi-root support before releasing 1.0.0

[2017-11-15 15:35] itsam commented on #21
Not sure how to install outside marketplace. I followed the steps below but I cannot see phpcs on the installed extensions...

- install the Visual Studio Code npm extension
- clone this repository and checkout develop branch
- open the cloned repository folder using Visual Studio Code
- run VS Code task npm install <--- **not sure about that, just opened the terminal and typed npm install**

[2017-11-16 13:37] yukulele opened #68 "native tabs no more visible on mac os high sierra"
a blank grey bar is present in place of native tab bar

[2017-11-16 13:38] #68 closed

[2017-11-16 16:50] markoshust commented on #32
I can confirm this error was being caused from the `<arg value="np" />` line from `phpcs.xml`. This is a standard phpcs.xml definition, so this is still a valid issue.

[2017-11-17 10:32] caramelomartins commented on #43
@ikappas I'm using Ubuntu 16.04 and I can confirm that I was able to go around this issue with version `1.0.0-beta.4`. My use cases worked and I was able to see warnings from `phpcs`and fix files. I still had to set the full path to my `phpcs` global alias, was that what you intended?

[2017-11-17 10:38] caramelomartins commented on #48
@ikappas I'm using Ubuntu 16.04 and I can confirm that I was able to go around this issue with version `1.0.0-beta.4`. My use cases worked and I was able to see warnings from `phpcs`and fix files. I still had to set the full path to my `phpcs` global alias, was that what you intended?

[2017-11-18 07:00] amebrahimi opened #69 "Underlining Not bad code"
Hello i have just installed phpcs on vsc and it is showing some errors that are not errors anyone any suggestions
![2017-11-18_10-27-20](https://user-images.githubusercontent.com/12514657/32977878-8c2773c8-cc4b-11e7-88ed-7e4803a4019b.jpg)

[2017-11-23 14:36] ethanteague commented on #32
phpcs and plugins work with PhpStorm, Emacs, et. al. Something is wrong with this plugin.

[2017-11-23 16:12] McPan68 commented on #32
@ethanteague: I wouldn't usually leave it like that. I am using phpcs 3.0.2 with vscode 1.18.1 (x32) and php 5.6-7.1 without any of the problems described above.

[2017-11-29 08:52] frekel commented on #32
@ikappas: I would love to give you feedback but still haven't a clue on howto install the plugin outside visual studio code....

[2017-11-30 06:54] Hoto-Cocoa opened #70 "Wrong 'Code after EXIT statement cannot be executed' when using Switch-Case"
![image](https://user-images.githubusercontent.com/21969938/33417829-5ef796a4-d5e6-11e7-9f57-bb2c94396501.png)
![image](https://user-images.githubusercontent.com/21969938/33417847-6d8c5fce-d5e6-11e7-816a-2f2e440a3b54.png)
This happens when make multiple array values with multiple lines.
If make array values in one line, this problem will not happen.

[2017-11-30 07:04] Hoto-Cocoa commented on #70
This should go to PHPCS issues.

[2017-11-30 07:04] #70 closed

[2017-12-01 10:37] thetheodoros opened #71 "Enabling code formatting in VSCode?"
This tool perfectly highlights errors in formatting but does not format.

How is formatting enabled? And how would format on save be enabled?

[2017-12-03 21:58] gusbemacbe commented on #32
# Mac users, be careful to install Pear if you upgrade to PHP 7.2!

Check my issue:
https://github.com/Homebrew/homebrew-php/issues/4623#issuecomment-348816979

If you want to make `phpcs` working, risk to install Pear and follow Javian's instrucitons:

https://github.com/Homebrew/homebrew-php/issues/4623#issuecomment-348816979

[2017-12-03 22:11] gusbemacbe commented on #32
If you are an user of macOS High Sierra and use PHP 7.2, do not want to risk with Pear and to damage your PHP folder, follow the instructions of @setokaibakg. His instructions are safe.

[2017-12-05 15:39] phproberto commented on #42
Same issue here. I tried to follow instructions in the [README](https://github.com/ikappas/vscode-phpcs/blob/develop/README.md#setup-development-version) to load development version but `npm install` task does not exist. I've tried to guess the setup to contribute an update for the README but I was not able to.

System info:
* **OS:** Ubuntu 16.04
* **phpcs version:** `PHP_CodeSniffer version 2.9.

[2017-12-07 15:16] cbejensen commented on #42
I had the `Unexpected end of JSON input` issue as well, but following the instructions for setting up the development version resolved it.

[2017-12-09 16:29] LittleHamster commented on #32
@ikappas
any updates about this?

[2017-12-10 14:17] ADmad opened #72 "ETA for 1.0 stable?"
Hi, any timeline on stable release of 1.0? :slightly_smiling_face:

[2017-12-11 04:14] chimit commented on #64
@ikappas I try to set
[code]
as you recommended, but I get an error:
[code]

[2017-12-11 04:18] chimit commented on #64
Another question. The setting `phpcs.standard` is global for the whole VS Code. So if my project has a `ruleset.xml` file it will be used, but what if another project doesn't have this file? Or has a `phpcs.xml` file?

[2017-12-12 06:32] kloon opened #73 "Add support for multiple ruleset files"
It would be great if you would have the option to specify multiple ruleset files in phpcs.standard config.

It is useful for when you are working on multiple projects where the ruleset filenames differ for each project.

Perhaps a comma-separated list?

[2017-12-13 19:26] AashikP commented on #1
I have this same issue with latest version of vscode and extension, running with phpcs 3.2.0.

Output:
`linting started on: file:///f%3A/xampp/htdocs/mysqli-class/includes/class-db.php
`

I do not believe its an issue with phpcs  since linting works fine on sublime and atom.

**Current fix:**
Downgrading phpcs to an older version (3.0.1) has fixed the issue for me.

[2017-12-14 15:11] AashikP opened #74 "Linting never completes"
First, thank you for the wonderful plugin.

Regarding the issue,
I have [this (vscode-phpcs/issues/1) ](https://github.com/ikappas/vscode-phpcs/issues/1) same issue with latest version of vscode and extension, running with phpcs 3.2.0.

![phpcs](https://user-images.githubusercontent.com/17475174/33998884-e8ff868a-e10e-11e7-8148-6e7e8455a8d4.png)

Output only displays:
`linting started on: file:///

[2017-12-14 16:07] str opened #75 "question: is it possible to Ignore specific rule?"
I want to ignore the "Line exceeds 120". Is it possible to ignore just that rule without creating a full new ruleset?

[2017-12-14 18:29] sirbrillig commented on #75
In phpcs 3.2, you can do this by adding something like this at the end of the line, although you'll need to replace `SNIFF.CODE` with whatever sniff code you want to disable: `// phpcs:disable SNIFF.CODE`. See [the official wiki](https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage#ignoring-parts-of-a-file) for more details.

I'm not sure how to get the sniff code with this plugin... t

[2017-12-14 18:39] sirbrillig commented on #74
I don't have any ideas, but I thought it might help to mention that I'm running phpcs 3.2 and the latest vscode without any linting issues. It's possible that there's something going on with the output of phpcs though, as seen in [this issue](https://href.li/?https://youtrack.jetbrains.com/issue/WI-39190).

[2017-12-14 18:43] sirbrillig commented on #73
This would be cool. Just a suggestion which might help: you can list multiple standards and sniffs in the phpcs.xml file in each project folder and vscode should respect them (leaving `phpcs.standard` as `null`).

If you have custom standards, I highly recommend installing [phpcodesniffer-composer-installer](https://github.com/DealerDirect/phpcodesniffer-composer-installer) to make installing stan

[2017-12-14 18:48] sirbrillig commented on #75
(It looks like [it will be possible to show the sniff code](https://github.com/ikappas/vscode-phpcs/issues/55) in 1.0.0)

[2017-12-15 18:50] CharlesWiltgen opened #76 ""The PHP CodeSniffer Linter server crashed 5 times in the last 3 minutes. The server will not be restarted.""
Hi! I just discovered `vscode-phpcs`, which I'm thrilled exists.

I get the "Linter server crashed" above when using the plug-in, even though using phpcs from the command line on the same file works fine.

Is there additional information I can provide that would help you narrow down the issue?

[2017-12-16 07:13] ntwb commented on #21
I wonder if something like [cosmiconfig](https://www.npmjs.com/package/cosmiconfig) could help solve this 🤔

[2017-12-16 07:34] ntwb commented on #21
Here's another example, I'd like to use the `WordPress` standard across multiple projects, as such I'd have this configured as:

[code]

Then, each _WordPress_ project has it's own `phpcs.xml.dist` file for any customizations and tweaks, for example here's two WordPress Core that each use a unique `phpcs.xml.dist` file:
• https://core.trac.wordpress.org/browser/trunk/phpcs.xml.dist
• https://githu

[2017-12-16 20:58] ADmad commented on #72
Praying we'll perhaps get it as a Christmas present :smile:

[2017-12-17 23:10] pamtbaau commented on #74
1. Upgrading to PHP_Codesniffer 3.2.0: phpcs never completes.
2. Reverting to PHP_Codesniffer 3.0.1: phpcs works fine.
3. Upgrading to PHP_Codesniffer 3.2.0: phpcs never completes.

Environment:
Windows 10
Vscode: 1.19.0

[2017-12-18 09:43] GrahamLab opened #77 "Not working across network files"
I run VSCode on my windows machine but my files are stored on a linux server.
The plugin seems not to work in these circumstances

Any advice?

[2017-12-18 12:33] HeuJung opened #78 "not working phpcs on PHP_CodeSniffer 3.2.1"
not working phpcs on PHP_CodeSniffer 3.2.1
but, works fine in 3.1.1.

[2017-12-18 21:10] CharlesWiltgen commented on #76
Additional info: I've reproduced this with CodeSniffer 3.2.0 and 3.2.1.

[2017-12-22 08:55] hiel commented on #8
Just install with Homebrew.
brew install php-code-sniffer

[2017-12-22 08:59] hiel commented on #78
Update to 3.2.2.
It works.

[2017-12-27 14:18] Wrenbjor commented on #14
@joaomoreno This is not a dupe of Microsoft/vscode#8434 Nothing in that thread fixes this issue. I am seeing the exact same problem with 1.19.1 on OSX. Is there a known fix or workaround?

[2017-12-27 14:24] Wrenbjor commented on #48
Hello @ikappas, I am very new to using VSCode, are there instructions to installing/switching to the development branch of a plug-in so that I can test?

[2017-12-27 16:41] Wrenbjor commented on #24
ok it needs to be globally installed via composer for the current versions of VSCode to see it.

Just run:

`    include_once "/usr/share/pear/PHP/CodeSniffer/autoload.php";
`

[2017-12-29 09:00] godbout opened #79 "No unused import fails"
I have the no_unused_import option set to true, but phpcs deletes import that are used within my classes.

Any log I can give to help?

[2018-01-02 08:00] irfan88 commented on #8
same issue on mac elcpaitan. how to resolve?

[2018-01-03 03:59] AashikP commented on #74
This issue is resolved in the latest version, **PHPCS 3.2.2**

[2018-01-03 03:59] #74 closed

[2018-01-03 05:56] pamtbaau commented on #74
@AashikP It's working fine again. Thanks!

[2018-01-03 06:14] briantully commented on #8
so there's no way to get this working on Mac El Capitan? Installed using global composer. phpcs works in Terminal and is in my $PATH, yet VSCode refuses to recognize it.

Why not update the plugin and allow for the user to manually specify the path to phpcs since it cannot find it intelligently from the $PATH?

"Please add phpcs to your global path or..." <--- what is meant by "global path"? Are y

[2018-01-03 16:40] young666 commented on #32
I'm using XAMPP, in php.ini, I turn off php_openssl module by editting to ;extension=php_openssl.dll. Then the issue solved :)

[2018-01-03 19:00] LC43 opened #80 "when phpcs.standard is using custom CS, it should use global phpcs"
I usually work with a custom coding standard, GoodOmens.

[code]

When working on a project is using a custom phpcs.xml for coding standard B, vscode-phpcs complains that it can't find it.

i suspect its because vscode-phpcs uses `./vendor/bin/phpcs`

[code]

if i enter the project directory and run `phpcs`, the CS is there.
[code]
Other projects that either use a phpcs.xml with our CS, or have no

[2018-01-04 02:17] sami9gag commented on #32
While this isn't an issue with the extension itself, the error should be made more obvious. Currently the error message shown doesn't give a casual user a good idea of where to start with resolving the error.

[2018-01-04 14:40] anibalsanchez commented on #32
<arg value="q"/> solved the issue on PHPCS 2.9.1

[2018-01-04 15:33] jonathanhuet commented on #8
As @hiel said, avoid pear installation and use the homebrew installer. Just worked fine for me after going crazy with several ways of modifying the path.

[2018-01-04 15:38] briantully commented on #8
thanks @jonathanhuet - I did that and it's a good temporary workaround. However I'd rather not have 2 installations of phpcs on my system if possible. I've been bitten by multiple installs of other tools in the past, so would like to avoid that rabbit hole :)

A setting within the plugin to override/specify the phpcs path would be a reasonable solution, especially since there are already other set

[2018-01-04 18:29] LittleHamster commented on #32
@anibalsanchez
I have the latest PHPCS and still have this issue:
![image](https://user-images.githubusercontent.com/10330481/34578498-38b5fbec-f153-11e7-84a7-993019a649d7.png)

[2018-01-04 19:11] anibalsanchez commented on #32
The problem of this issue is that the --report=json option generates an invalid json. It includes a progress output with a letter like E or F before the json structure.

So, the `<arg value="q"/>` in the ruleset does the trick to hide the letter.

@LittleHamster Your issue doesn't seem to be the same issue.

[2018-01-04 22:41] LittleHamster opened #81 "error: "phpcs: Unexpected token S in JSON at position 0""
I am getting this error:
![image](https://user-images.githubusercontent.com/10330481/34587453-69e4abbe-f176-11e7-8110-d3a6bb822d30.png)

[code]

I am not sure what is the problem as the error is not very descriptive, any possible solution?

[2018-01-05 10:33] zepdesign commented on #42
Forgive my ignorance but I installed PHP_CodeSniffer via pear. Is there a way to swap to a development version there or when is there likely to be a fixed release?

[2018-01-05 16:26] hk7507 commented on #8
windows 10. same issue. If someone find exact solution. Then plz tell me.

[2018-01-07 12:09] soderlind commented on #28
I just released [vscode-phpcbf](https://marketplace.visualstudio.com/items?itemName=persoderlind.vscode-phpcbf)

[2018-01-08 13:05] Krysio commented on #81
Probably it is a progress information log.
The extension execute phpcs command without a -q parameter - bug.

[2018-01-08 13:14] Krysio commented on #81
[home]\.vscode\extensions\ikappas.phpcs-0.7.0\server\linter.js:221

replace
[code]
to
[code]

... and reload extension

[2018-01-09 01:07] LittleHamster commented on #81
@Krysio
I added that but still get the error

[2018-01-09 03:27] greenoss commented on #14
Im facing this problem too,
Would you mark this as open issue again @joaomoreno ?

[2018-01-10 18:26] WraithKenny commented on #28
The extension by @soderlind works well!

It's a working example of having the command fix the current file, and registering a formatter to hook into vscode's formatOnSave and right-click "format file" options.

It'd be nice to see that folded into this extension, so that the work of finding the executable, and setting configurations etc, could be shared work.

[2018-01-10 20:19] bahmanyaghoobi commented on #14
I have the same issue. Why is this closed?

[2018-01-15 09:42] Darkein opened #82 "Relint the file when it's externally modified"
Hello,

I'm using vscode-phpcs with phpcbf. Unfortunately when phpcbf format the file, I always see the errors in the file until i modify and save it.
Can you parse the file whenever it changes?

Thanks!

[2018-01-15 20:23] diegolaciar commented on #14
please post the fix before close the issue. I have the same issue.

[2018-01-16 08:26] thierrymichel commented on #32
Solved updating WP rulesets as mentioned by @iamanders (https://github.com/ikappas/vscode-phpcs/issues/32#issuecomment-323000631).

[2018-01-17 18:35] eduardoklosowski commented on #61
I have the same problem. However it is something of phpcs, when calling `phpcs --encoding=UTF-8` works.

https://github.com/squizlabs/PHP_CodeSniffer/issues/1300

[2018-01-17 21:29] jrfoell commented on #73
I just tried removing my `phpcs.standard` setting and adding 2 phpcs.xml files... one in the root of the project, and one in a submodule that uses a seperate standard.

VSCode isn't respecting the submodule standard, probably b/c PHPCS is getting executed starting in a different directory. I've found when running PHPCS on the command line, you *must* be in the directory containing phpcs.xml (or fu

[2018-01-18 09:43] MrAmbiG commented on #14
Installing the composer globally fixed it for me.
https://getcomposer.org/doc/00-intro.md#globally

[2018-01-18 10:35] ejlocop commented on #8
same error. im using windows 10 pro

[2018-01-18 21:31] mobayen commented on #14
This one worked for me:

https://stackoverflow.com/questions/47174009/visual-code-studio-unable-to-locate-phpcs

1- Go to extensions and install the plugin...."phpcs".
2- Search for the extension if you had install it.
3- Disable the extension.

[2018-01-18 21:32] mobayen commented on #8
This one worked for me:

https://stackoverflow.com/questions/47174009/visual-code-studio-unable-to-locate-phpcs

1- Go to extensions and install the plugin...."phpcs".
2- Search for the extension if you had install it.
3- Disable the extension.

[2018-01-20 13:02] kirtangajjar opened #83 "Unable to find standard"
I have configured phpcs by installing it globally from composer. From commandline, I am able to find `WordPress` standard, however, while setting `phpcs.standard` in vscode, I always get `Unable to find standard WordPress`. How can I see which phpcs executable `vscode-php` is using?

[2018-01-20 13:07] kirtangajjar commented on #83
Closing since this is duplicate of #58

[2018-01-20 13:07] #83 closed

[2018-01-20 13:10] kirtangajjar commented on #58
@ikappas I have installed `phpcs` globally using composer. My `phpcs -i` output is:

[code]
Yet I get the error mentioned in title when I set `phpcs.standard` to `WordPress`

[2018-01-20 18:43] LittleHamster commented on #81
@ikappas
any updates about this?

[2018-01-23 08:43] lntmny commented on #48
https://github.com/ikappas/vscode-phpcs/blob/f18e40713bae56316c768b2d1c44112f13350342/phpcs-server/src/linter.ts#L40

For windows, all extnames in env `%PATHEXT%` can be supported, not only .bat.

[2018-01-23 16:06] briantully commented on #8
@mobayen I don't understand. Are you saying disabling the phpcs extension "fixes" the phpcs extension?

I'm still getting the error message even though I added an extra install of phpcs via homebrew. The problem is that I now have 2 installs of phpcs, one in my ~/.composer/vendor/bin (Composer installed) and one in /usr/local/bin (Homebrew installed). The Composer installed phpcs has priority and

[2018-01-23 16:18] briantully opened #84 "Unable to locate phpcs (again and again and again)"
Hello,
I tried to install the phpcs plugin for Visual Studio Code but I keep getting phpcs: Unable to locate phpcs. Please add phpcs to your global path or use composer depency manager to install it in your project locally. message. I can access phpcs from the Command Line, it is available globally in the PATH.

phpcs is on my global PATH and was installed previously via a global composer install.

[2018-01-24 00:00] caramelomartins commented on #48
@Wrenbjor Hey, you can see some instruction on running the development branch of vscode-phpcs [here](https://github.com/ikappas/vscode-phpcs#rundebug-development-version) in the README of this repo.

[2018-01-24 19:27] ADmad commented on #84
The ability to specify phpcs location has been implemented on the `develop` branch and should be available in next stable release.

Sadly it seems @ikappas doesn't have enough time to maintain this plugin, so no idea when `1.0.0` stable would be released.

[2018-01-24 19:29] ADmad commented on #84
In the meantime you can check out the [phpcbf](https://marketplace.visualstudio.com/items?itemName=persoderlind.vscode-phpcbf) extension which allows you to auto format/fix possible errors using your phpcs rules.

[2018-01-24 19:31] ADmad commented on #72
Sadly it seems @ikappas doesn't have enough time to maintain this plugin 😞

Until 1.0.0 stable in released anyone landing here can check out the [phpcbf](https://marketplace.visualstudio.com/items?itemName=persoderlind.vscode-phpcbf) extension which allows you to auto format/fix possible errors using your phpcs rules.

[2018-01-24 21:57] sirbrillig commented on #72
Maybe we can create a fork and publish a release there?

[2018-01-25 03:27] ADmad commented on #72
@sirbrillig Someone with the time and expertise surely can. I personally am not proficient enough in typescript.

[2018-01-25 05:06] waternice commented on #81
@LittleHamster Update your php version to latest(7.1.13 || 7.2.1) once , the bug is in php not in the plugins. I have also added a pull request regarding this.

[2018-01-25 12:40] ikappas commented on #72
@sirbrillig Instead of creating a new fork and publishing it I would prefer to add additional maintainers to this project!

@ADmad  I am currently swamped with other projects and I can't finish off 1.0.0 at the moment.

I 've almost finished multi-root workspace support which I have not yet committed to the repository. I am more than happy to push this code in and get people involved to finish off

[2018-01-25 12:56] ADmad commented on #72
@ikappas No worries. I understand how difficult it can be to spare time for opensource work.

As you know that major issue currently is not being able to specify the executable path for phpcs. You have already taken care of that by adding `phpcs.executablePath` on the `develop` branch. It would be great help if you could make a stable release with that feature.

You can then put out an announcemen

[2018-01-25 14:02] ikappas commented on #72
@ADmad Fair point... https://github.com/ikappas/vscode-phpcs/blob/develop/README.md

[2018-01-25 14:08] ikappas commented on #72
To anyone interested I just pushed a feature branch for [Multi Root support](https://github.com/ikappas/vscode-phpcs/tree/feature/multi-root-configuration)

[2018-01-27 12:48] di3663 commented on #32
try add '@'
[code]
on windows

[2018-01-27 17:40] rivetweb opened #86 "add some workspace settings for possibility to set this parameter "--runtime-set testVersion 5.3""
example command

`phpcs --runtime-set testVersion 5.3 index.php`

[2018-01-29 12:49] KamWis commented on #58
Same issue - bumping it up

[2018-01-31 12:38] SharakPL commented on #32
Got the same problem today. I mean:

And it seems the problem is that lintered file is too big. I get this error when viewing php files over 1MB size. With other files phpcs works perfectly fine. Maybe it's VSCode's setting that needs to be changed or phpcs has limits on file size

[2018-01-31 13:17] dingo-d commented on #32
If the file is too big you'll run out of memory (allowed memory size exceeded error). This is not related to the linter or the editor, but to the phpcs (or rather php).

[2018-01-31 13:50] AndreasHeintze commented on #8
I have the same problem. Running VS Code on a MacBook Pro. Please fix this.

[2018-02-02 04:07] gusbemacbe commented on #44
@ikappas

Chaírete, is there how to ignore problems and warnings? I have more than 100 problems and warnings, I find them annoying, everything is highlighted in red in all files. I am not speaking about of files and folders, but I want to ignore permanently only some problems.

[2018-02-02 07:34] madbbb commented on #58
I ran into the same problem today. I have phpcs installed globally and phpcs into my project. My `phpcs -i` output includes all needed standards, but when I ran `vendor/bin/phpcs -i` it had it's own installed presets. So I had to configure phpcs installed in vendor/bin/ again `vendor/bin/phpcs --config-set installed_paths vendor/path-to-standards`

[2018-02-02 09:37] KamWis commented on #58
I have also found the solution :) phpcs installation in project I am working with resides in `/vendor/squizlabs/php_codesniffer/scripts/phpcs` - therefore I needed to point it directly in the project's folder `/vendor/squizlabs/php_codesniffer/scripts/phpcs --config-set installed_paths ~/wpcs`

I mean - it's good that local installation overrides global settings. But an error is thrown at me when

[2018-02-05 20:36] robyngreen commented on #81
@LittleHamster I'm not sure if this is still an issue for you, as well as anyone coming here looking for advice on that same issue, that warning - for me - was because of additional output via PHP on my command line that the phpcs process was not expecting, nor should it.

In my case my xdebug didn't match a php version, so `php -v` actually looked like this:

`$ php -v
Xdebug requires Zend Engine

[2018-02-07 13:54] jawittdesigns commented on #84
This is off topic, but any ETA on the next release? This is the one thing that's stopping me from using vscode (I really want to). I work a lot with PHP and use custom sniffers so setting up phpcs for each project isn't an option for me.

[2018-02-07 13:55] dorian-marchal commented on #29
Bump

[2018-02-09 13:28] rahulnever2far commented on #21
Multiple standards at the same time would be very helpful.

Personally, I'm looking for something like @ntwb suggested. A way to use project-specific ruleset in conjunction with default standard defined in the settings. Maybe, the extension could automatically look for a file named `phpcs.xml`. If it exists it should automatically include it.

[2018-02-10 00:14] ntwb commented on #21
https://www.npmjs.com/package/cosmiconfig should be able to handle merging and/or nested configs

[2018-02-12 00:50] LittleHamster commented on #81
@robyngreen
I am new to visual studio code and not sure how to configure the PHPCS, I used other IDEs and I could use PHPCS without issues using the same PHP version but can't get it working on VSCode
[code]

[2018-02-12 10:59] jeevad commented on #48
cmd run as admin and type following command

`pear install PHP_CodeSniffer`

[2018-02-13 06:07] dodyagung commented on #71
+1

[2018-02-13 21:21] Everspace opened #87 "List the name of the sniff in addition to the problem"
This would allow it to be easier to remove particular sniffs from particular files.

For example I am writing some things to interact with Wordpress, and so I wish to run the Wordpress coding standards. However I'm doing so via the command-line and shell, so the "OutputNotEscaped" sniff is not very helpful to me. Having to go digging for it is even more obnoxious.

Preferably like other linters (a

[2018-02-14 07:39] Morgy93 commented on #42
@ikappas Is this not fixed in `master` yet?
Still getting the error with v0.7.0 from VSCode extension marketplace.

[2018-02-14 13:48] mwidmann opened #88 "Different phpcs.standard settings for different folders in same workspace are not taken into consideration"
I have a workspace where I have four folders in. Three of the folders are WordPress related and therefore should be treated with the WordPress-Extra standards definition. The last one is a framework agnostic module that should be treated with the PSR2 standards.

Now it looks as if the standard used is the one in the `.vscode/settings.json` of the first file that's loaded and not the one for the f

[2018-02-16 12:30] anteprimorac commented on #88
How I can see this plugin doesn't have support for workspaces.

[2018-02-16 12:31] mwidmann commented on #88
I wouldn't say that. As you can set the a different Standard than the default in your workspace settings.

[2018-02-16 12:37] anteprimorac commented on #88
Yes, but it can only read workspace and first folder settings. It should work same as cli command. You can have phpcs config only for particular part of your application. But this plugin will only use config file from root of your application or path defined in vscode settings.

[2018-02-17 00:56] ikappas commented on #35
I just pushed multi-root support in develop branch that need testing

[2018-02-17 00:58] ikappas commented on #32
I just pushed multi-root support in develop branch that needs testing

[2018-02-17 00:59] ikappas commented on #72
I just pushed multi-root support in develop branch that needs testing

[2018-02-17 01:00] #78 closed

[2018-02-17 01:01] ikappas commented on #84
I just pushed multi-root support in develop branch that needs testing

[2018-02-17 01:28] ikappas commented on #73
@jrfoell I' m also very much interested in this feature... I 've even opened a ticket early 2017:

https://github.com/squizlabs/PHP_CodeSniffer/issues/1328

As it is stands right now (and correct me if I missed something) there is no support for submodule standard build-in in phpcs but I am looking into implementing either:

1. A recursive ruleset iterator that will search for ruleset.xml next to

[2018-02-17 01:39] ikappas commented on #87
@Everspace This has been implemented in phpcs@1.0.0-beta.x which is available in the development branch.

[2018-02-17 01:39] #87 closed

[2018-02-17 01:40] ikappas commented on #88
I just pushed multi-root support in develop branch that needs testing

[2018-02-17 01:42] ikappas commented on #88
Also join the discussion on #73

[2018-02-17 10:25] ikappas commented on #79
@godbout PHP_CodeSniffer does not seem to support this. See https://github.com/squizlabs/PHP_CodeSniffer/issues/801

[2018-02-17 10:25] #79 closed

[2018-02-19 05:40] dukevin opened #89 "Cannot locate phpcs?"
This has definitely got to be a bug, I've installed composer, pear, phpcs, the plugin and it still says this error. Googling shows a bunch of other people have this issue.
![error](https://i.imgur.com/GafJhOM.png)

[2018-02-20 12:28] ikappas commented on #73
This has been implemented in 1.0.0-beta.6 and is enabled by default with `phpcs.autoConfigSearch` setting

[2018-02-20 12:28] #73 closed

[2018-02-20 12:32] ikappas commented on #42
I've just pushed 1.0.0-beta.6 on the development branch adding automatic configuration search. This is the last feature for the 1.0.0 release which needs some testing before 1.0.0 launch.

[2018-02-20 12:32] ikappas commented on #35
I've just pushed 1.0.0-beta.6 on the development branch adding automatic configuration search. This is the last feature for the 1.0.0 release which needs some testing before 1.0.0 launch.

[2018-02-20 12:33] ikappas commented on #32
I've just pushed 1.0.0-beta.6 on the development branch adding automatic configuration search. This is the last feature for the 1.0.0 release which needs some testing before 1.0.0 launch.

[2018-02-20 12:34] ikappas commented on #21
I've just pushed 1.0.0-beta.6 on the development branch adding automatic configuration search. This is the last feature for the 1.0.0 release which needs some testing before 1.0.0 launch.

[2018-02-20 12:35] ikappas commented on #72
I've just pushed 1.0.0-beta.6 on the development branch adding automatic configuration search. This is the last feature for the 1.0.0 release which needs some testing before 1.0.0 launch.

[2018-02-20 14:56] jrfoell commented on #73
Thanks @ikappas! Looking forward to 1.0! Seems like it's getting really close.

[2018-02-20 21:48] jamesh38 commented on #76
Any luck on this @CharlesWiltgen? Running into the same issue.

[2018-02-20 22:53] ikappas commented on #76
@CharlesWiltgen @jamesh38 Which version of the plugin are you using? Have you tried the latest beta on development branch?

[2018-02-21 02:47] LittleHamster commented on #81
@ikappas
do you think you can address this issue before version 1 release too? thanks

[2018-02-21 06:00] kloon commented on #73
Thank you @ikappas!

[2018-02-21 08:42] ikappas commented on #81
@LittleHamster If you are referring to the -q option it has been implemented in the 1.0.0-beta.x. Please note that this option is available from PHP_CodeSniffer v.2.6.2

[2018-02-21 10:48] ikappas commented on #21
I just released vscode-phpcs 1.0.0 which supports the VSCode 1.20+ and includes many enhancements most notable of which are:

1. multi root support
2. lint as you type support
3. automatic configuration search support
4. ability to set phpcs.executablePath
5. ability to set phpcs.showWarnings
7. ability to set phpcs.showSources
8. ability to set phpcs.composerJsonPath to something other that works

[2018-02-21 10:48] #21 closed

[2018-02-21 10:48] ikappas commented on #14
I just released vscode-phpcs 1.0.0 which supports the VSCode 1.20+ and includes many enhancements most notable of which are:

1. multi root support
2. lint as you type support
3. automatic configuration search support
4. ability to set phpcs.executablePath
5. ability to set phpcs.showWarnings
7. ability to set phpcs.showSources
8. ability to set phpcs.composerJsonPath to something other that works

[2018-02-21 10:48] #14 closed

[2018-02-21 10:49] ikappas commented on #32
I just released vscode-phpcs 1.0.0 which supports the VSCode 1.20+ and includes many enhancements most notable of which are:

1. multi root support
2. lint as you type support
3. automatic configuration search support
4. ability to set phpcs.executablePath
5. ability to set phpcs.showWarnings
7. ability to set phpcs.showSources
8. ability to set phpcs.composerJsonPath to something other that works

[2018-02-21 10:49] #32 closed

[2018-02-21 10:50] ikappas commented on #35
I just released vscode-phpcs 1.0.0 which supports the VSCode 1.20+ and includes many enhancements most notable of which are:

1. multi root support
2. lint as you type support
3. automatic configuration search support
4. ability to set phpcs.executablePath
5. ability to set phpcs.showWarnings
7. ability to set phpcs.showSources
8. ability to set phpcs.composerJsonPath to something other that works

[2018-02-21 10:50] #35 closed

[2018-02-21 10:50] ikappas commented on #42
I just released vscode-phpcs 1.0.0 which supports the VSCode 1.20+ and includes many enhancements most notable of which are:

1. multi root support
2. lint as you type support
3. automatic configuration search support
4. ability to set phpcs.executablePath
5. ability to set phpcs.showWarnings
7. ability to set phpcs.showSources
8. ability to set phpcs.composerJsonPath to something other that works

[2018-02-21 10:50] #42 closed

[2018-02-21 10:51] ikappas commented on #43
I just released vscode-phpcs 1.0.0 which supports the VSCode 1.20+ and includes many enhancements most notable of which are:

1. multi root support
2. lint as you type support
3. automatic configuration search support
4. ability to set phpcs.executablePath
5. ability to set phpcs.showWarnings
7. ability to set phpcs.showSources
8. ability to set phpcs.composerJsonPath to something other that works

[2018-02-21 10:51] #43 closed

[2018-02-21 10:52] ikappas commented on #48
I just released vscode-phpcs 1.0.0 which supports the VSCode 1.20+ and includes many enhancements most notable of which are:

1. multi root support
2. lint as you type support
3. automatic configuration search support
4. ability to set phpcs.executablePath
5. ability to set phpcs.showWarnings
7. ability to set phpcs.showSources
8. ability to set phpcs.composerJsonPath to something other that works

[2018-02-21 10:52] #48 closed

[2018-02-21 10:52] ikappas commented on #62
I just released vscode-phpcs 1.0.0 which supports the VSCode 1.20+ and includes many enhancements most notable of which are:

1. multi root support
2. lint as you type support
3. automatic configuration search support
4. ability to set phpcs.executablePath
5. ability to set phpcs.showWarnings
7. ability to set phpcs.showSources
8. ability to set phpcs.composerJsonPath to something other that works

[2018-02-21 10:52] #62 closed

[2018-02-21 10:53] ikappas commented on #72
I just released vscode-phpcs 1.0.0 which supports the VSCode 1.20+ and includes many enhancements most notable of which are:

1. multi root support
2. lint as you type support
3. automatic configuration search support
4. ability to set phpcs.executablePath
5. ability to set phpcs.showWarnings
7. ability to set phpcs.showSources
8. ability to set phpcs.composerJsonPath to something other that works

[2018-02-21 10:53] #72 closed

[2018-02-21 10:53] ikappas commented on #76
I just released vscode-phpcs 1.0.0 which supports the VSCode 1.20+ and includes many enhancements most notable of which are:

1. multi root support
2. lint as you type support
3. automatic configuration search support
4. ability to set phpcs.executablePath
5. ability to set phpcs.showWarnings
7. ability to set phpcs.showSources
8. ability to set phpcs.composerJsonPath to something other that works

[2018-02-21 10:53] #76 closed

[2018-02-21 10:55] ikappas commented on #82
@Darkein I could not reproduce the error with vscode-phpcs.1.0.0

[2018-02-21 10:56] ikappas commented on #84
I just released vscode-phpcs 1.0.0 which supports the VSCode 1.20+ and includes many enhancements most notable of which are:

1. multi root support
2. lint as you type support
3. automatic configuration search support
4. ability to set phpcs.executablePath
5. ability to set phpcs.showWarnings
7. ability to set phpcs.showSources
8. ability to set phpcs.composerJsonPath to something other that works

[2018-02-21 10:56] #84 closed

[2018-02-21 10:56] ikappas commented on #88
I just released vscode-phpcs 1.0.0 which supports the VSCode 1.20+ and includes many enhancements most notable of which are:

1. multi root support
2. lint as you type support
3. automatic configuration search support
4. ability to set phpcs.executablePath
5. ability to set phpcs.showWarnings
7. ability to set phpcs.showSources
8. ability to set phpcs.composerJsonPath to something other that works

[2018-02-21 10:56] #88 closed

[2018-02-21 10:57] ikappas commented on #89
@dukevin Please update to 1.0.0 and check whether your issue persists.

[2018-02-21 11:00] ikappas commented on #28
@soderlind Now that 1.0.0 is out we can merge phpcbf support in. What do you think?

[2018-02-21 11:01] ikappas commented on #86
@rivetweb Thank you for your feedback. Can you please explain your use-case and perhaps give an example.

[2018-02-21 11:06] ikappas commented on #80
@LC43 Thank you for your feedback. Is there a reason why you can't install the missing standard at the required level (system-wide/project-wide). Also now that vscode-phpcs 1.0.0 is out you can configure the phpcs.executablePath at user/workspace/folder settings.

[2018-02-21 11:07] ikappas commented on #77
@GrahamLab Thank you for your feedback! Can you please confirm that this is still an issue with vscode-phpcs 1.0.0

[2018-02-21 11:09] ikappas commented on #75
I just released vscode-phpcs 1.0.0 which supports the VSCode 1.20+ and includes many enhancements most notable of which are:

1. multi root support
2. lint as you type support
3. automatic configuration search support
4. ability to set phpcs.executablePath
5. ability to set phpcs.showWarnings
7. ability to set phpcs.showSources
8. ability to set phpcs.composerJsonPath to something other that works

[2018-02-21 11:09] #75 closed

[2018-02-21 11:10] ikappas commented on #71
@thetheodoros @dodyagung Thank you for your feedback. I am closing this in favor of #28

[2018-02-21 11:10] #71 closed

[2018-02-21 11:12] GrahamLab commented on #77
Hi Yes it is

Graham Labdon

Senior Developer and Head of QA

[https://www.cardstream.com/sigs/general/linkedin.png]<https://www.linkedin.com/company/cardstream-limited><https://www.facebook.com/cardstream>[https://www.cardstream.com/sigs/general/twitter.png]<https://twitter.com/cardstream>[https://www.cardstream.com/sigs/general/rss.png]<https://www.cardstream.com/blog/?feed=rss2>

[https://cards

[2018-02-21 11:38] soderlind commented on #28
@ikappas I you mean adding support for phpcbf in your plugin, please do.  I'll discontinue my plugin if you add phpcbf to vscode-phpcs :)

[2018-02-21 11:40] ikappas commented on #28
@soderlind Care to do an MR?

[2018-02-21 11:43] ikappas commented on #69
@amebrahimi Thanks for your feedback! What coding standard are you using ?

[2018-02-21 11:44] soderlind commented on #28
@WraithKenny Care to do it ? I'm very busy atm.

[2018-02-21 11:59] amebrahimi commented on #69
@ikappas I'm fairly new to PHP and I'm using Laravel framework. thank you for your response.

[2018-02-21 12:22] ikappas commented on #69
@amebrahimi If you have not specified the 'phpcs.standard' in your vscode settings and have not changed your default standard in your terminal, this will be PSR2 which shows various errors for the above snippet.  I also suspect that you need to use a Laravel specific coding standard.

Please install vscode-phpcs 1.0.1 and set phpcs.showSources: true in your user configuration to see where these is

[2018-02-21 12:24] rivetweb commented on #86
i need to set path codesniffer config
from workspace settings file

in example i have file CodeSniffer.conf

<?php
 $phpCodeSnifferConfig = array (
  'installed_paths' => '../../wimg/php-compatibility',
  'default_standard' => 'PHPCompatibility',
  'testVersion' => '5.3',
)
?>

i need set path to  this config

or set path to my custom phpcs with own settings

now i must install phpcs to each proje

[2018-02-21 12:30] ikappas commented on #86
@rivetweb If you have the coding standard installed on your system (not per project) you can set  phpcs.executablePath to your system's phpcs(where you have this particular standard installed) and set the phpcs.standard to PHPCompatibility in VSCode User settings.

Is there something I am missing?

[2018-02-21 13:03] ikappas commented on #86
@rivetweb According to https://github.com/wimg/PHPCompatibility you can install this coding standard with many different ways. One is to set the path via the command line for your globally installed phpcs like:
[code]

Then you can just use a ruleset.xml to control the standard and the testVersion:
[code]

[2018-02-21 13:22] LC43 commented on #80
Hello @ikappas , thanks for looking into this!

well, I can't use our Coding Standard on other projects because they use their own, and sometimes they are contradictory.

For example:
- Some projects don't have a phpcs.xml and I would like to use our own by default.
- Most of our projects use our own `GoodOmens`. all our projects have a phpcs.xml for it.
- Other projects use other CS, like PSR2 in

[2018-02-21 13:26] ikappas commented on #80
@LC43 Also please note that per your description you may need to disable phpcs.autoConfigSearch to manually override the ruleset used.

[2018-02-21 13:34] Darkein commented on #82
vscode-phpcbf is broken since it's last release.
But if i launch phpcbf in command-line, i have some remaining errors. I will send you a animated gif for a better explanation

[2018-02-21 13:49] mishac opened #90 "phpcs: Request workspace/configuration failed with message: Cannot read property 'uri' of undefined"
When I try to run the newest version that just installed (1.0.1), I get the following error:

phpcs: Request workspace/configuration failed with message: Cannot read property 'uri' of undefined

[2018-02-21 13:57] rivetweb commented on #86
thanks

i missed this option - phpcs.executablePath

[2018-02-21 14:06] ikappas commented on #90
@mishac Thank you for reporting this issue. Can you please provide your vscode configuration?

[2018-02-21 14:07] Darkein commented on #82
Here we are. The comportment is the same with vscode-phpcbf:
(at the end of the gif, i just add and remove a space, and save the file)

![phpcs error](https://user-images.githubusercontent.com/4948463/36484106-79157a10-1718-11e8-813d-e4d9a6d1efc4.gif)

[2018-02-21 14:09] mishac commented on #90
I'm 100% not sure what you're asking for exactly.

in my usersettings I have:

        "phpcs.standard": "Drupal"

and workspace settings are empty.

All other settings are set to the default.

Things worked fine until the update, though I was getting the "phpcs: Unexpected token" json errors periodically before.

And here's my phpcs version:

    phpcs --version
    PHP_CodeSniffer version 2.9.1

[2018-02-21 14:11] ikappas commented on #82
@Darkein If you notice there are 22 remaining issues after the fix. Right about the end of the gif loop you can see the problems count go to 22... It just takes around 2 secs for the file system update to register and re-lint the document. (I've read somewhere that this delay is a vscode hack)

[2018-02-21 14:18] rahulnever2far commented on #81
I no longer get this error. Thank you for fixing it.

[2018-02-21 14:18] rahulnever2far opened #91 "Add an option to disable "lint as you type" feature"
Maybe it's just me but I find "lint as you type" feature distracting. I prefer linting on save.

It would be great if you could add an option to disable it. You could have it turned on by default.

[2018-02-21 14:23] ikappas commented on #90
@mishac By default the workspace settings should not empty, they should be like:
[code]

I managed to reproduce this issue by opening a new VSCode window and adding a folder to workspace and then manually deleting workspace settings.

What are the exact steps that you do to reproduce this for your use-case?

[2018-02-21 14:26] mishac commented on #90
I literally just updated the extension, restarted vscode, and went to file->open to open a PHP File.   I don't have a currently open project, which is why the workspace settings are emtpy.

[2018-02-21 14:26] mishac commented on #90
I literally just updated the extension, restarted vscode, and went to
file->open to open a PHP File.   I don't have a currently open project,
which is why the workspace settings are emtpy.

On Wed, Feb 21, 2018 at 9:23 AM, Ioannis Kappas <notifications@github.com>
wrote:

[2018-02-21 14:44] Darkein commented on #82
I've just reloaded my vscode and my vscode-phpcs has been updated. I don't have the problem anymore with the 1.0.1 version.

Thanks!

[2018-02-21 14:45] ikappas commented on #82
@Darkein Nice to hear you got it resolved!

[2018-02-21 14:45] #82 closed

[2018-02-21 14:47] ikappas commented on #81
@rahulnever2far Nice to hear you got your issue resolved.

[2018-02-21 14:47] #81 closed

[2018-02-21 15:24] briantully commented on #89
FWIW, I updated to 1.0.0 and still had this issue. However I was able to use the new "phpcs.executablePath" user setting and specify my global composer installed phpcs' path and things are working great.

[2018-02-21 15:33] briantully opened #92 "setting for "phpcs.extensions" was removed in 1.0.0. Is there a replacement?"
First off, thank you for the new 1.0.0 version which allows me to specify my global composer installed phpcs :)

I noticed that in the 1.0.0 version that there are some changes in configuration namespacing, specifically for the following:

- "phpcs.ignore" was changed to "phpcs.ignorePatterns" and is now an array
- "phpcs.extensions" reports "Unknown configuration" in settings.json, so appears to

[2018-02-21 16:22] ikappas commented on #92
@briantully You are welcome! There was never an `phpcs.extensions` configuration setting ;)

The plugin works on any file association that is registered for PHP. So for example associating *.inc files with php is easily done like so:
[code]
See also:
https://stackoverflow.com/questions/42802259/does-vscode-editor-support-inc-file-highlight
https://code.visualstudio.com/updates/vMarch#_editor

[2018-02-21 16:28] briantully commented on #92
Thanks! I don't know where phpcs.extensions came from, perhaps from trying another phpcs plugin for vscode.

Thanks again for all your hard work!

[2018-02-21 16:28] #92 closed

[2018-02-21 17:42] ErikFontanel commented on #90
I encountered this too, removing `settings.json` from `${workspaceFolder}.vscode` fixed it

[2018-02-21 18:58] Blfrg commented on #90
I'm also experiencing this issue since updating to v1.0.1

I looked into `settings.json` since it was being referenced here.
The issue seems to happen if you have more than 1 folder in the project.
[code]
I confirmed by:

1. removing the 2nd path from the file
2. reload window
3. no error when viewing file
4. added the 2nd folder back into the file
5. reload window
6. error returns

The error is s

[2018-02-21 19:50] gusbemacbe commented on #32
Chaírete, @ikappas, does `ability to set phpcs.showWarnings` ignore some certain warning I do not want to see and to correct in my PHP files? It is boring your package classifies everything as wrong and also classifies my favourite Allman brackets as wrong. Eucharistó polý!

[2018-02-21 20:32] sveggiani commented on #90
I'm getting this too, but only on diff views of PHP files

[2018-02-21 21:44] jerturowetz commented on #89
I can confirm the error after updating VSCode to 1.20.1 on windows 10 trying to use the extension with phpcs installed via composer locally to my project.

I'm betting this has to do with the part of the extension which tries to automatically locate phpcs from composer.json, Wish I was a bit more skilled to dive deeper though - I dunno much about extension bug checking.

The suggestion by @briantu

[2018-02-21 22:25] ikappas commented on #90
@mishac @ErikFontanel @Blfrg @sveggiani Thank you all for reporting this issue. I've just released 1.0.2 with a fix.

[2018-02-21 22:31] ikappas commented on #61
@MikeVelazcoMtz @eduardoklosowski Can you please check whether vscode-phpcs 1.0.x solves your issues?

[2018-02-21 22:36] ikappas commented on #32
@gusbemacbe you can fiddle with `phpcs.warningSeverity` as descripted in https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage#filtering-errors-and-warnings-based-on-severity

[2018-02-21 22:50] Blfrg commented on #90
@ikappas Thank you for the quick turn around, this appears resolved for me!

[2018-02-21 23:05] LittleHamster commented on #32
@ikappas
thanks for the update 👍

I am getting this error, the error is so long that I can't see the rest of it

![image](https://user-images.githubusercontent.com/10330481/36510668-d68de272-1731-11e8-9f32-e756b6c5329d.png)

[2018-02-22 09:30] wongjn opened #93 "Error message "phpcs: Unexpected token F in JSON at position 0" on ignored files"
I'm getting this error message when I open some files that have been ignored via the `phpcs.ignorePatterns` setting ~~and that have no code sniffing errors~~.

Extension version 1.0.2

[2018-02-22 09:41] ikappas commented on #90
Closing this as fixed. Feel free to reopen if you still have issues!

[2018-02-22 09:41] #90 closed

[2018-02-22 09:47] ikappas commented on #93
@wongjn Thank you for your feedback. Please specify the following information:
1. PHP Version used.
2. PHP_CodeSniffer version used.
3. VSCode phpcs settings used for user, workspace and folder.

[2018-02-22 11:36] Eldair opened #94 "Add an option to disable specific rules"
It would be great to add an option to disable some specific rule (most notably line endings).

[2018-02-22 11:55] ikappas opened #95 "Phpcs infinite linting status"
When phpcs executable is not found for any reason an error is thrown before the linting status is cleared.

This results in the infinite status of phpcs linting x documents...

[2018-02-22 12:04] eduardoklosowski commented on #61
I tested it with version 1.0.2 and it worked as expected.

Thanks.

[2018-02-22 12:24] ikappas commented on #95
This is fixed in vscode-phpcs 1.0.3

[2018-02-22 12:24] #95 closed

[2018-02-22 12:24] ikappas commented on #94
@Eldair why not do this in a ruleset.xml ?

[2018-02-22 12:41] ikappas commented on #61
@eduardoklosowski Great to have this resolved. Please feel free to reopen if you still have issues

[2018-02-22 12:41] #61 closed

[2018-02-22 13:06] cerzzwiz commented on #14
Hi guys if someone still needs help about this "Unable to locate phpcs ..." error message try this: you just need to install phpcs globally via Composer.
1- Install Composer from https://getcomposer.org/download/ if you don't have it,
2- After Composer is installed, open a command prompt wherever you want and run this command =>

composer global require squizlabs/php_codesniffer

[2018-02-22 16:22] kevinfiol commented on #89
Can also confirm this error on latest VSCode on Windows 7.

Everything was working fine yesterday, then today I came into work, ran `composer update`, and boom, same error as the screenshot in OP's post. I've since just disabled the extension entirely because even with a global installation, phpcs begins throwing errors.

[2018-02-22 16:44] WraithKenny commented on #28
@soderlind Yes, I'm pretty busy too, but I can take a stab at this I think! (Probably over the next weekend or two.)

[2018-02-22 17:24] mobayen commented on #8
@briantully
I really don't know how or why this works but yes.
I installed and uninstalled that extension and then my problem solved

[2018-02-22 17:48] ADmad commented on #72
Awesome, thank you very much @ikappas.

[2018-02-22 18:35] ikappas commented on #89
I have managed to reproduce this issue and I am working on a fix

[2018-02-22 19:40] ikappas commented on #89
I just published 1.0.4 with a fix for this issue. Let me explain a bit:

Having a `phpcs.executablePath` set at any settings scope (user/workspace/folder) will bypass  both composer and global phpcs path resolvers. This has better performance since paths are not searched to find the executable (even though they are cached for subsequent linting).

The fix was on the composer path resolver and shou

[2018-02-22 22:26] jerturowetz commented on #89
I have removed the `phpcs.executablePath` setting and can confirm the fix is working for VSCode to 1.20.1 on Windows 10 with phpcs installed in my project via composer.

Thanks for the super fast turnaround @ikappas

For the record, I'm going to replace and continue to use a `phpcs.executablePath` value due to your remark about performance so thanks for that as well.

[2018-02-22 23:24] ikappas commented on #89
@jerturowetz Great to hear you got your issue resolved. Closing this and fixed.

[2018-02-22 23:24] #89 closed

[2018-02-23 02:19] LittleHamster opened #96 "Proper way to setup this?"
I am not sure what I am doing wrong but I can't get this plugin to work. I keep getting error messages:

![image](https://user-images.githubusercontent.com/10330481/36574806-6c3e14a2-1815-11e8-82b2-344d06334404.png)

I have setup PHPCS with PhpStorm and it works perfectly but  I can't get it working for VSCODE with this plugin. I followed all the instructions,

[code]

reinstalled PHPCS with pear

[2018-02-23 09:01] ikappas commented on #96
@LittleHamster Did you try running
[code]

[2018-02-23 09:50] wongjn commented on #93
PHP 7.0.10
PHP_CodeSniffer 2.9.1
VS PHPCS settings (only globals set, otherwise default):
[code]
Running a stripped-down equivalent command works fine for a file that when opened in VS, brings up the error:
[code]

[2018-02-23 10:17] ikappas commented on #93
@wongjn Drupal version?

[2018-02-23 10:34] ikappas commented on #93
@wongjn Also please update vscode-phpcs to 1.0.4

[2018-02-23 12:34] wongjn commented on #93
Updated extension.
Drupal and DrupalPractice come from the drupal/coder composer package, version 8.2.12.

[2018-02-23 14:14] jerturowetz commented on #89
Thanks @ikappas!

@dukevan I’m assuming you’re up and running again?

[2018-02-23 17:45] ikappas commented on #93
@wongjn Do you think you can set up a reference repo to reproduce this issue? I don't follow your folder structure and I am not that familiar with Drupal 8.

[2018-02-23 22:42] LittleHamster commented on #96
@ikappas
thanks for your response,
this is the output of your command:

[code]

so if I remove `-1` I get a message like:
[code]

[2018-02-24 02:54] dukevin commented on #89
Yes, I got it working through about a day of moving files around and playing with configs. I'm on phpcs v1.0.4.
Also is it necessary to have composer to use phpcs? I could not get it to work with anything else including pear

[2018-02-24 14:52] GaryJones commented on #58
If you want to avoid having to manually registering the WPCS standards, try adding https://github.com/Dealerdirect/phpcodesniffer-composer-installer to your `require-dev` - it will automatically register the found standards and works great with WPCS.

[2018-02-25 10:42] rivetweb commented on #86
but how i can

[2018-02-25 10:53] ikappas commented on #86
@rivetweb Is this a composer based project?

[2018-02-25 11:11] rivetweb commented on #86
no i trying to use option "phpcs.executablePath": "/home/user/bin/phpcs/vendor/bin/phpcs"

[2018-02-25 11:27] ikappas commented on #86
@rivetweb Just add your system specifice absolute paths to phpcs on your Linux and Windows PATH. Then you won't need the phpcs.executablePath.

[2018-02-25 12:15] rivetweb commented on #86
i dont need to make it global

can you add support for relative path outside of workpsace?

in example

"phpcs.executablePath": "../../bin/phpcs/vendor/bin/phpcs"

now its not work

[2018-02-25 12:19] ikappas commented on #86
@rivetweb I can't quite understand what you need to accomplish -- especially across systems

Anything outside of a workspace **IS** considered global.

[2018-02-25 15:00] rivetweb opened #97 "phpcs.executablePath not work on Windows 10"
i tryed

`"phpcs.executablePath": "C:/Users/user/bin/PHP_CodeSniffer/vendor/bin/phpcs.bat"`

and this

`"phpcs.executablePath": "C:\\Users\\user\\bin\\PHP_CodeSniffer\\vendor\\bin\\phpcs.bat"`

- from command line - it work
- from vscode 1.20.1 - not work

[2018-02-25 15:03] rivetweb commented on #97
here full content of site1.code-workspace

[code]

[2018-02-25 15:09] ikappas commented on #97
@rivetweb What error are you getting in vscode?

[2018-02-25 15:40] rivetweb commented on #97
i dont have any errors
checking just not work

[2018-02-25 15:46] ikappas commented on #97
@rivetweb Have a look at "phpcs.trace.server": "messages" which will show additional information in  VSCode  > Output pane > PHP Code Sniffer section.

Also note that Windows linting is quite slower than in linux/mac so it takes more time for the errors to come up.

[2018-02-25 15:56] rivetweb commented on #97
i have a project with 1-3 php files

didnt have any output for this extension
its enabled and installed

also now installing php sniffer from composer
not work in Windows 10

[2018-02-25 16:07] ikappas commented on #97
@rivetweb After adding "phpcs.trace.server": "messages" in your vscode user settings then you need to open a php file to load the extension. Once loaded you should see output in VSCode > Output pane > PHP Code Sniffer

[2018-02-26 02:21] ToujouAya opened #98 "Phpcs not linting in version 1.0.4"
Phpcs not working in version 1.0.4 . I don't know why linting not running. I downgrade the version to 1.0.3 and it work as expected

version 1.0.3
![1](https://user-images.githubusercontent.com/21350606/36650495-663c66f8-1ad6-11e8-89b3-fad8bd54c109.png)

version 1.0.4

![image](https://user-images.githubusercontent.com/21350606/36650504-75ca090e-1ad6-11e8-8034-a3029c09baae.png)

[2018-02-26 09:08] ikappas commented on #98
@ToujouAya Thank you for your feedback! There is only one change in 1.0.4 affecting composer project phpcs resolver.

Can you please provide the vscode settings used?

[2018-02-26 09:40] wongjn commented on #93
https://github.com/wongjn/repro

Reproduction steps:

1. Run `composer install`
2. Open `public_html/core/modules/node/src/Entity/NodeType.php` (as an example file that exhibits the erroneous behaviour).

[2018-02-26 10:17] ikappas commented on #93
@wongjn Thank you for the reproduction repo.  Following your instructions I am getting this error:

[2018-02-26 10:34] ikappas commented on #93
@wongjn Can you try the following configuration:

composer.json
[code]

.vscode/settings.json
[code]

[2018-02-26 10:54] wongjn commented on #93
Not getting the error anymore - so something to do with global vs local?

[2018-02-26 11:03] ikappas commented on #93
Short answer yes.

I noticed that the `phpc.autoConfigSearch` picks up /public_html/core/phpcs.xml.dist which uses relative paths to itself whereas phpcs is launched relative to composer. I am not sure that this is relevant or a bug. Also I didn't test with your version of php (7.0.10) which is several versions behind latest (7.0.27)

[2018-02-26 11:09] ikappas commented on #93
With `phpcs.autoConfigSearch` I get error:

Which is clear that PHP_Codesniffer doesn't resolve properly probably due to the ' <file>.</file>' directive in 'phpcs.xml.dist'.

[2018-02-26 11:18] ikappas commented on #93
@wongjn Can you report the output of the following command:
[code]

[2018-02-26 11:20] wongjn commented on #93
Using original reproduction repo:

[code]
So it seems setting `phpc.autoConfigSearch` to `false` seems to be the fix?

[2018-02-26 11:20] bartech101 commented on #44
Is is possible to ignore all folders and then un-ignore specific folder inside like
`"wp-content/plugins/*",`
`"!wp-content/plugins/my-plugin/*"`

[2018-02-26 11:29] ikappas commented on #93
For your specific setup yes.

I would suggest you include a .vscode/settings.json in your project and use the suggested local composer configuration.

The issue is that PHP_CodeSniffer throws this error before processing the --ignore flag so it assumes that your --standard is valid.

[2018-02-26 11:31] ikappas commented on #93
PS: I never got to see your reported error "phpcs: Unexpected token F in JSON at position 0" on ignored files using vscode-phpcs 1.0.4

[2018-02-26 11:35] wongjn commented on #93
I got the updated error message you introduced when I updated to 1.0.4.
Anyways, thank you for your time, happy to say that it is fixed.

[2018-02-26 11:35] #93 closed

[2018-02-26 11:38] ikappas commented on #93
@wongjn You are welcome. I will see whether I should apply the ignorePatterns to the autoConfigSearch settings which would probably remove the necessity to turn it off.

[2018-02-26 11:39] ikappas commented on #96
@LittleHamster Can you check whether "phpcs.autoConfigSearch": "false" changes the error?

[2018-02-26 11:41] ikappas commented on #97
@rivetweb Can you provide a reproduction repository?

[2018-02-26 11:48] ikappas commented on #44
@bartech101 No this is not possible because the `phpcs.ignorePatterns` configuration setting is being handled by PHP_Code_Sniffer [--ignore flag](https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage#ignoring-files-and-folders)

[2018-02-26 11:58] ikappas commented on #69
@amebrahimi Any update on this?

[2018-02-26 12:32] ikappas opened #99 "Automatic configuration search should honor ignore patterns"
## Description

When `phpcs.autoConfigSearch` is enabled, we should honor `phpcs.ignorePatterns` so that phpcs does not look for  `phpcs.xml`, `phpcs.xml.dist`, `phpcs.ruleset.xml` or `ruleset.xml` in the ignored paths.

On some cases this may result in --standard being magically switched to an invalid ruleset which will cause the plugin to raise an error (see reference)

The current workaround is

[2018-02-26 17:41] briandrolet commented on #14
thank you for the fixes @ikappas , it's very much appreciated!

[2018-02-26 20:45] jerturowetz commented on #89
It's not strictly necessary but I think many would recommend it. Composer is the preferred (only?) package manager for php and can help you out no matter what you get up to in the language.

[2018-02-26 22:59] LittleHamster commented on #96
@ikappas
sadly no :(
still the same error message

[2018-02-27 01:06] ToujouAya commented on #98
@ikappas
My vscode settings

[code]

List installed extension

[code]

[2018-02-27 07:34] ikappas commented on #96
@LittleHamster The unknown error is thrown when PHP_CodeSniffer returns an error in stderr and is not one of PHP error or exception. That means that the command to execute phpcs fails for some reason.

Some users have reported that you need to upgrade your php to >=7.1.13 or >=7.2.1 To avoid bug fixed by php in 7.1.x || 7.2.x.

[2018-02-27 07:46] ikappas commented on #98
@ToujouAya Great to hear you are up and running. Do you remember whether your restarted vscode after updating the plugin?

[2018-02-27 08:11] ToujouAya commented on #98
@ikappas Yes I did it. Restarted the vscode, close and re-open.

I have met the weird situation. After linting some times, the linting keep running in current files and sometime in previous close file. I can't re-procedure this after re-open  vscode

![image](https://user-images.githubusercontent.com/21350606/36717320-31384ff8-1bd0-11e8-95d1-c7d6f6d851be.png)

[2018-02-27 09:36] ikappas commented on #98
@ToujouAya Thank you for getting back to me on this issue. It is my understanding that linting is working on your end so I am closing this as resolved. If you run into what you are describing in a reproducible manner please feel free to open a new issue.

[2018-02-27 09:36] #98 closed

[2018-02-28 10:40] rivetweb commented on #97
all works
i have problem if php not installed globally
i fix this script https://github.com/rivetweb/PHP_CodeSniffer/blob/bitrix/phpcs.bat and replace vendor/bin/phpcs.bat

[2018-02-28 10:40] #97 closed

[2018-02-28 15:40] frazras opened #100 "The phpcs report contains invalid json"
I'm getting this error in the vscode notification interface.
`"phpcs: The phpcs report contains invalid json. Please review "Diagnosing Common Errors" in the plugin README`"

It just appeared recently, I also recently upgraded vscode (10.20.1) but it was working even after that, not sure why it just popped up.

I went to the README file and saw this:

I have the latest phpcs
[code]
I tested the ou

[2018-02-28 15:53] ikappas commented on #100
@frazras Is this a project based phpcs installation?

[2018-02-28 20:13] frazras commented on #100
@ikappas No, this was a global setup

[2018-02-28 20:49] ikappas commented on #100
@frazras Are you using the default PSR2 standard or some other?

[2018-02-28 21:12] ngwebspinner commented on #58
I have phpcs installed globally so I can access it from any folder. I get the errors when I install wpcs in a folder other than the project root directory - phpcs -i says everything is okay, but vscode complains.

What has worked for me is installing wpcs in the project root directory. With composer installed run: _composer create-project wp-coding-standards/wpcs:dev-master --no-dev_ from your pro

[2018-02-28 22:10] frazras commented on #100
@ikappas I am using the Drupal coding standard.
Here are my settings:
[code]

[2018-02-28 23:14] ikappas commented on #100
@frazras See issue #93 as it is probably relevant to your issue. Let me know if it helps

[2018-02-28 23:16] ikappas commented on #100
@frazras More specifically try "phpcs.autoConfigSearch" : "false"

[2018-03-01 01:24] LittleHamster commented on #96
@ikappas
so I updated the php
[code]

but still have the same issue
PHP_CodeSniffer works on PhpStorm so not sure why it doesnt work here

[2018-03-01 06:49] frazras commented on #100
@ikappas no such luck on either count.
The thing I find weird is that it was working fine before then it just stopped working :-/

[2018-03-01 09:49] ikappas commented on #100
@frazras This error, as described in the readme, means that the output of the phpcs command is not valid json. This can happen when additional messages, are appended to the phpcs json output such as PHP Exceptions, Errors, progress, etc. On recent versions of PHP_CodeSniffer these should be suppressed by the -q option which is applied automatically by vscode-phpcs.

So for global setups I can only

[2018-03-01 18:02] ikappas opened #101 "Automatic configuration search should honor workspace/folder path"
## Description

When `phpcs.autoConfigSearch` is enabled, we should honor the workspace/folder path so that phpcs does not look for `phpcs.xml`, `phpcs.xml.dist`, `phpcs.ruleset.xml` or `ruleset.xml` beyond the open workspace or folder.

Currently, this results in unpredictable behaviour since a ruleset file my be automatically picked up outside of the currently open workspace/folder.

[2018-03-01 22:39] ikappas commented on #101
This issue is fixed in vscode-phpcs 1.0.5

[2018-03-01 22:39] #101 closed

[2018-03-01 22:39] ikappas commented on #99
This issue is fixed in vscode-phpcs 1.0.5

[2018-03-01 22:39] #99 closed

[2018-03-01 22:43] ikappas commented on #93
@wongjn I just released 1.0.5 which fixed ignorePatterns issues so they are taken into account for autoConfigSearch. So you can test out removing the autoConfigSearch setting (re-enabling it)

[2018-03-02 18:31] ikappas commented on #96
@LittleHamster Are you on a Linux or Mac ? Also have you tried installing phpcs via composer globally?

[2018-03-03 15:37] ghost commented on #96
@ikappas
I am on a Mac. yes, I tried to install phpcs via composer globally, but still no luch

[2018-03-03 23:08] rawzone commented on #100
I also had this problem, however for me this fixed the issue.

Edit: Okay spoke to soon - The problem is still there.

[2018-03-04 00:18] ikappas commented on #100
@frazras @rawzone The only other thing I can suggest is cloning this repo and debug to see the error that is thrown in phpcs-server/src/linter.ts:235

[2018-03-04 04:47] kestonorherhe commented on #8
Read the plugin details on instructions to install dependencies using composer, a line of code is given to run, run it to download all needed dependencies if you already have composer installed else install composer and run code. Once done, restart VScode.
This worked for me just now, lemme know if it worked for you as well.

[2018-03-04 15:32] sethstha opened #102 "Linting is slow in Windows 10"
I have installed PHP CodeSniffer, WordPress Coding Standard as composer dependencies and are installed locally.
Also, rulesets are loaded from `phpcs.xml`.

Is it normal to take 6 seconds to lint 16 lines of code? while on command, it takes only 1 second.

I have tried installing phpcs globally and loading standard config from plugin's config. It makes no change.

[2018-03-04 15:55] sethstha commented on #96
@LittleHamster I had the same issue and couldn't get phpcs to work. I will give you clear instruction here.

First, open the project on vscode and open inbuilt terminal.

Install phpcs
`composer require squizlabs/php_codesniffer`

Install wpcs
`composer require wp-coding-standards/wpcs`

This plugin will automatically load phpcs standards found
`composer require dealerdirect/phpcodesniffer-compose

[2018-03-04 21:13] premedios opened #103 "Input file being set wrongly"
Your extension is running the following:

`./vendor/bin/phpcs --report=json -q --encoding=UTF-8 --error-severity=5 --warning-severity=5 --stdin-path=/Users/Jaime/Developer/laravel/blog/app/user.php`

--stdin-path should not be set the full path of the file. I ran this in terminal (MAC) and phpcs said I'm not specifying a file or folder to lint.

Is there a configuration I need to set or do you nee

[2018-03-04 21:37] ikappas commented on #103
@premedios The extension is not running the above mentioned command. Instead it runs the following  (translated for bash):
[code]
Also have a look at https://github.com/squizlabs/PHP_CodeSniffer/issues/1440

[2018-03-05 00:46] ikappas commented on #102
@sethstha Thank you for submitting this issue.

In your case, any delay is not due to the lines of code but rather may be system specific ie vscode-phpcs in my experience runs slower on Windows than in Mac/Linux.

Also, when running the command in a terminal you must specify all required parameters to get a result for the specific version of PHP_CodeSniffer you use.

The plugin has support for php

[2018-03-05 03:25] ghost commented on #96
@sethstha
I followed your instructions and for this command I get the following output:
[code]

but I still get this error:
![image](https://user-images.githubusercontent.com/10330481/36956140-b0ddb5f8-1ffa-11e8-8349-30ea675c9889.png)

here are my settings:
[code]

[2018-03-05 14:11] sethstha commented on #102
I tried every possible method. Nothing seems to speed it up in Windows 10. I think I will be sticking to my iMac.

[2018-03-05 14:11] #102 closed, assigned to nobody

[2018-03-06 22:35] blueo commented on #100
I get this error when viewing a php file in the diff mode (ie the split screen you get when selecting a changed file in the version control tab)

[2018-03-08 15:33] kevinfiol commented on #96
This extension has just straight up stopped working for me. Even tried using a global installation of phpcs. No more codesniffing for me it seems. I'm using a local Composer installation, located in /vendor/.

Here are some screenshots.
![1](https://user-images.githubusercontent.com/4752973/37159525-23e4be98-22bc-11e8-84e9-af76734a53da.png)
![2](https://user-images.githubusercontent.com/4752973/37

[2018-03-08 15:58] ikappas commented on #103
@premedios Did you resolve your issue?

[2018-03-08 16:06] ikappas commented on #96
@kevinfiol On first screenshot you are viewing the output of PHP Intellisense... vscode-phpcs has it own output under **PHP Code Sniffer** when phpcs.trace.server is enabled. You can also use "phpcs.xml" in your phpcs.standard which is relative to project root. Last thing I noticed you are using the <file>.</file> in your phpcs.xml which I have seen causing some trouble. Can you comment that out a

[2018-03-08 16:06] premedios commented on #103
@ikappas It resolved itself. I have no idea how. Maybe an update to vscode or a restart.

[2018-03-08 16:06] #103 closed, assigned to nobody

[2018-03-08 16:10] ikappas commented on #96
@kevinfiol You can also set phpcs.executablePath in workspace/project settings (not user) to "vendor/bin/phpcs"

[2018-03-08 17:17] kevinfiol commented on #96
No change on my end. I tried using `vendor/bin/phpcs` and `vendor/bin/phpcs.bat`. No luck with either. I also do not see any option for PHP Code Sniffer in my Output panel.

![5](https://user-images.githubusercontent.com/4752973/37165432-9c1e2fbc-22ca-11e8-8d60-41212477b982.png)
![4](https://user-images.githubusercontent.com/4752973/37165436-9e61ab28-22ca-11e8-9449-72f24b79aad1.png)

[2018-03-08 18:44] ikappas commented on #96
@kevinfiol is the php executable C:\bin\easy\eds-binaries\php\php713v.... registered in you Windows PATH in your environment variables under System Advanced Preferences (see https://superuser.com/questions/949560/how-do-i-set-system-environment-variables-in-windows-10 )

[2018-03-08 20:11] kevinfiol commented on #96
Yes.
![jewswb](https://user-images.githubusercontent.com/4752973/37173927-04ae92b6-22e3-11e8-890b-33e7289cfa40.png)

[2018-03-08 20:49] kevinfiol commented on #96
Update: I've since installed version 1.0.3 of the extension (as that was the last version wherein i did not have problems) and it is working again.

[2018-03-08 20:50] ikappas commented on #96
@kevinfiol The latest version of the extension is 1.0.5

[2018-03-08 20:54] kevinfiol commented on #96
@ikappas I realize this. It was not working while I was on 1.0.5. So I reverted back to 1.0.3, and it is working now.

[2018-03-08 20:57] ikappas commented on #96
@kevinfiol I realized what you did after posting :) Do you think you can clone the repo and debug this issue in windows so you can help me get some insight on this?

[2018-03-08 21:04] kevinfiol commented on #96
@ikappas Sure, I will look into this more tomorrow. :) Thanks.

[2018-03-08 21:06] ikappas commented on #96
@kevinfiol Thank you in advance 👍

[2018-03-09 10:52] msaari commented on #100
I bumped into this same issue, but the JSON produced by the command line tool was clean.

I think the problem in my case might be caused by having a fairly large file (2500+ lines), with lots of errors. My computer had the php thread running at 99% CPU for a while, so perhaps php wasn't responding as fast as expected?

Disabling the PHPCS extension and then enabling it again seems to have fixed th

[2018-03-12 23:33] gregsullivan commented on #100
I encountered this issue and tracked it down to my global version of phpcs being incompatible with the Drupal standards:

https://www.drupal.org/node/2809335

(Coder requires phpcs version >=2.7.0, <3.0. I had the most recent version installed. Downgrading to 2.9.x solved the problem.)

[2018-03-13 00:25] frazras commented on #100
Awesome!  Thanks @gregsullivan this worked for me! I was literally pulling my hair out of my bald head for this, I felt like I was writing bad code for the past 2 weeks :-D

See results of what I did below, I ran it both locally and globally.

[code]

@ikappas thanks also for writing this awesome plugin. By scanning through the code,
you've also inspired me to write my own plugin

[2018-03-13 00:25] #100 closed

[2018-03-13 13:39] ikappas commented on #96
@kevinfiol Did you have a chance to debug?

[2018-03-13 13:40] ikappas commented on #80
@LC43 Did you manage to resolve your issues?

[2018-03-13 13:41] ikappas commented on #69
Closing this due to inactivity. Feel free to reopen if you continue to experience the issue.

[2018-03-13 13:41] #69 closed

[2018-03-13 13:42] ikappas commented on #28
@WraithKenny Any progress in this feature?

[2018-03-13 17:23] gregsullivan commented on #100
No problem, @frazras! I'm not sure about the differences between versions, but you could also use 2.9.x to keep it at the most recent <3.0 version. Looking at my `composer.lock`, Drupal Coder currently requires ">=2.8.1 <3.0", which (as of this morning) ends up installing 2.9.1.

Thanks for starting this thread—it got me pointed in the right direction.

[2018-03-13 18:43] WraithKenny commented on #28
No, it kinda fell off my radar. Sorry about not that

[2018-03-14 14:35] karson commented on #14
i installed phpcs global via composer , but error persists i had to insert executable phat manually. i'm using ubuntu 16.10

[2018-03-14 17:00] kevinfiol commented on #96
@ikappas Sorry, got swamped in work. I've attempted to debug, but keep hitting this issue immediately upon starting to debug:

![rxqeto](https://user-images.githubusercontent.com/4752973/37417795-8bb9bc10-2787-11e8-8b40-c02bc09f89a3.png)

I've replicated my environment at my home PC (using the plugin version 1.0.5), and found that the plugin works fine!! We do have some funky firewalls and other a

[2018-03-16 16:16] glen-84 commented on #96
The extension has also stopped working for me. It doesn't seem to load at all.

* Windows 10
* VS Code 1.21.1
* PHP_CodeSniffer version 2.7.1 (installed globally with Composer)

[2018-03-21 12:05] camoltoni opened #104 "How to disable this check"
I want to disable the rule that manage this warning
[hpcs] The $_POST super global must not be accessed directly; use Security::getRequestData('btnCancel', 'post') instead
But I can't found the rule

[2018-03-22 15:07] iyashpal opened #105 "Shows this error in every php file. Tried to fix in many ways but unable to fix this."
[phpcs] End of line character is invalid; expected "\n" but found "\r\n"
[phpcs] Whitespace found at end of line

![code](https://user-images.githubusercontent.com/37584776/37778685-8d98287a-2e10-11e8-8a17-dc983dcf03bb.png)

[2018-03-22 15:35] ikappas commented on #105
@Yash-Pal This looks like a .gitattributes issue. Please check your git configuration for line endings on checkout/checkin.

[2018-03-22 15:36] ikappas commented on #104
@camoltoni You can use "phpcs.showSources": true to view the particular sniff code and exclude it from your ruleset.

[2018-03-22 15:46] ikappas commented on #96
@kevinfiol Sorry for the late response but this is not a firewall issue. There is a 10 sec timeout from task launch within which you need to open a php file to trigger the loading of plugin.  If you run into this msgbox again you can ignore it and launch a second debug session with 'Attach to Server' task - provided you have the Extension Host running with an opened a php file first.

[2018-03-22 16:06] iyashpal commented on #105
Can you please help me out to fix this. I am using windows 10 OS.

Thanks!

[2018-03-24 15:17] ros-financial-com commented on #14
In Fedora 27, I solved the problem by installing php-pear-PHP-CodeSniffer-3.2.3-1.fc27.noarch. This should be true for RHEL, too.
I guess a similar package is available for .deb based Linuxes, too.

[2018-03-26 05:59] sharazghouri opened #106 "There is any Short cut to see PHPCS messages with out hover mouse on line?"
i want to see message with out touch the mouse just when cursor reach on line [ ANY SHORT CUT TO SEE MESSAGE ].
NOTE: no mouse touch

[2018-03-28 08:28] ah2048 commented on #105
@Yash-Pal Just type "Change End of Line Sequence" in command palette and select "LF"

[2018-03-30 03:13] iyashpal commented on #105
@abdallahamin Thank you for your kind help.

[2018-03-30 03:15] #105 closed, assigned to nobody

[2018-03-31 10:45] kakasal commented on #14
This is still an un-resolved issue.

[2018-04-03 14:14] designermonkey opened #107 "phpcs: The phpcs report contains invalid json."
Same problem as #100 but none of the suggestions fix it.

My config:

[code]

My PHP CS Xml:

[code]
I have this config as this is set up as a composer command also.

phpcs version (local and global composer): 3.2.3

Is there any way to see any debug output for this extension? Any suggestions would be appreciated as this is driving me nuts.

[2018-04-07 15:12] romankua commented on #14
I'm having the issue on macOS High Sierra.

Installed all according to instruction:
1. Installed composer globally (Composer version 1.6.3).
2. composer global require squizlabs/php_codesniffer.
3. Installed phpcs VSC extension.

[2018-04-14 11:09] valepu opened #108 "Ruleset not valid"
Hello,
I have just installed phpcs on my visual studio code. When i'm on a php file a notification keeps popping up saying my ruleset inside phpcs.xml is not valid.

But there's no other indication to where my ruleset is wrong

I've been using this ruleset since always with other editors and phpcs plugins and never had issues so i'm not sure why it's not working now

[code]

[2018-04-15 13:13] ghost commented on #96
@ikappas
any feedback about my issue, kevin hijacked my issue :(
I am still having the issue

[2018-04-23 00:35] oviniciusfeitosa commented on #14
Try to follow this steps:

- Installing globally PHPCS
[code]

- Know yout $path
[code]

- Add line below into your ```~/.zshrc``` ou ```~/.bashrc```
[code]

[2018-04-24 01:26] jroru opened #110 "Network location path stdin-path"
I recently switched from connecting to my dev server using network drives to using network locations.

- Windows 10
- I have a network location \\x\y
- I have a file update.php inside the root of this network location

vscode-phpcs automatic sniffing:
`phpcs: Unknown error ocurred. Please verify that C:\php\phpcs.bat --report=json -q --encoding=UTF-8 --standard=Drupal --error-severity=5 --warning-

[2018-04-25 05:25] Mitsein opened #111 "vscode phpcs: Unknown error ocurred"
phpcs: Unknown error ocurred. Please verify that /usr/local/opt/php@5.6/bin/phpcs --report=json -q --encoding=UTF-8 --standard=PSR2 --error-severity=5 --warning-severity=5 --stdin-path=/Users/Mitsein/gitWarehouse/bbs/alipaybbs/src/applications/admin/controller/FindController.php - returns a valid json object.

My config
`
"php.validate.executablePath": "/usr/local/opt/php@5.6/bin/php", "phpcs.exec

[2018-05-01 08:21] hulkur commented on #8
MacOS 10.13.4, Code 1.22.2, PHP_CodeSniffer 3.2.3

It gives correct command line in error message, so it knows where to look, but still gives error.
If I copy command line from error message and run it in terminal then it works fine.

[2018-05-04 08:58] jeremy447 opened #112 "Detect the indentation"
Hello,

Is it possible to add the option to detect the indentation please ? I work on projects that have different indentation and I can't always use the standard 4 spaces indentation.

Thanks !

[2018-05-05 10:15] jeremy447 commented on #112
By the way Vs Code already have the possibility to detect the indentation

[2018-05-10 19:04] markfullmer commented on #14
In your VS Code "User Settings" ("Preferences"), add:

[code]

See item 4, above, from the maintainer: https://github.com/ikappas/vscode-phpcs/issues/14#issuecomment-367287572

[2018-05-11 01:13] HaniAmmar commented on #8
if I set
phpcs.executablePath to php  c:/phpcs/phpcs

it adds the project folder to it, however, if I give it absolute path, it adds quotation marks and end up looking like this (note quotation):

"c:/php/php.exe c:/phpcs/phpcs" --version

it should be this: "c:/php/php.exe" "c:/phpcs/phpcs" --version

or just: c:/php/php.exe c:/phpcs/phpcs --version

I think it something about detecting a space a

[2018-05-11 01:25] HaniAmmar commented on #8
in linter.ts:
let result: Buffer = cp.execSync(`"${executablePath}" --version`);

to

let result: Buffer = cp.execSync(`${executablePath} --version`);

after that, you can set it to something like this:
    "phpcs.executablePath": "\"c:/php7/php.exe\" \"c:/PHP_CodeSniffer/bin/phpcs\""

[2018-05-11 09:44] dhavalgshah opened #113 "Add includePattern setting as an inverse of ignorePatterns"
Currently either you can have PHPCS enabled or not depending on your settings.

In certain cases, such as working on add-on/plugin/module/theme projects which are part of a larger framework, it is not intuitive to have phpcs sniffing files of other plugins/add-ons/modules/themes. I would not care much about their code and I don't have control over their development.

For example, if I am working o

[2018-05-11 10:39] dhavalgshah opened #114 "Add 'Sniff this file' and 'Clear sniff marks' commands"
A lot of times I would simply want to disable phpcs across the project because reasons mentioned in #113 .

Having two commands in command pallete would certainly be helpful:

1. _PHPCS: Sniff this file_ This should take currently viewed file, process it through phpcs, and show sniff marks based on phpcs output.
2. _PHPCS: Clear sniff marks_ Sometimes you just want to clear sniff marks because you

[2018-05-17 00:55] rsau commented on #107
What is the output of `php --version` ?
If there is any white space or anything other than php version info on first line, vscode-phpcs outputs errors.

I have encountered 2 errors and it depends on the output before php version line.

`phpcs: The phpcs report contains invalid json` happened when I was getting warning about xdebug on cli.

Following error happened when I had enabled incompatible p

[2018-05-22 15:43] donkovah commented on #8
The Documentation says you should install PHPCS globally via Composer.
"composer global require squizlabs/php_codesniffer" should do the trick

[2018-05-25 05:21] yeahlife opened #115 "phpcs: Unable to locate phpcs. Invalid version string encountered!"
phpcs: Unable to locate phpcs. Invalid version string encountered!

![image](https://user-images.githubusercontent.com/20123435/40527337-647791d4-601e-11e8-8a81-2e9893a214bf.png)

what should i do ?

[2018-05-25 14:34] bobbyConnxus commented on #14
On Ubuntu 17.10 sudo apt install php-codesniffer resolved the issue for me.

[2018-05-25 23:29] sofyansitorus opened #117 "Lint only opened PHP files?"
CMIIW, for now I see this extension will lint all PHP files under the folder project. It will be useful saving resources if this plugin can lint only opened files.

[2018-05-28 03:38] tfirdaus commented on #117
@sofyansitorus strange that does not happen to me.

Below is an example where there are 4 files. 2 of them have errors.

<img width="1175" alt="example-1" src="https://user-images.githubusercontent.com/2067467/40595977-2128d208-6262-11e8-9d7f-3bbc4cf7bcfa.png">

...the error report seems following the file when it's closed or opened.

<img width="1168" alt="example-2" src="https://user-images.gith

[2018-05-28 05:16] sofyansitorus commented on #117
@tfirdaus Yeah it seems mine also work as yours. It seems I was confused by another linter report that printed in the *PROBLEMS* tab 🤦‍♂️ . Thanks for clarifying! 👍

[2018-05-29 06:53] creativestate commented on #14
On Windows:

- Install [Composer](https://getcomposer.org/download/)
- Install PHP_CodeSniffer via Composer using "composer global require squizlabs/php_codesniffer" in the command prompt for a system wide install

Details are listed on the https://marketplace.visualstudio.com/items?itemName=ikappas.phpcs page.

[2018-05-29 08:58] sofyansitorus commented on #117
@tfirdaus Today I got the same issue happen again. The PHP files has been closed but the linting still run as we can see it at the status bar at the bottom, and the report tabs is still has list of PHP files that never opened before. Have you ever face this issue before?

![IMG](https://s3.amazonaws.com/awesomescreenshot/upload//845585/ff4cfe5f-3622-4563-4b10-c39715f86427.png?AWSAccessKeyId=AKIAJS

[2018-05-30 21:18] ahmadawais commented on #28
@soderlind sadly phpcbf extension doesn't work for me.

[2018-05-31 15:53] vladyrojas commented on #110
I confirm the same problem:

When I use a workspace and it calls a network directory, it does not work.

- C:\php\bin\phpcs.bat --report=json -q --encoding=UTF-8 --standard=PSR2 --error-severity=5 --warning -severity=0 --stdin-path=//192.168.1.16/demo/info.php
ERROR: You must supply at least one file or directory to process.

- C:\php\bin\phpcs.bat --report=json -q --encoding=UTF-8 --standard=PSR2

[2018-06-01 04:50] sagarrabadiya commented on #54
i am not getting any lint errors using above bat file i adjusted it to have C instead of Y drive, can you help me setting it up

[2018-06-01 11:16] rsau commented on #115
What is the output of `php -v` ?

[2018-06-04 04:29] joeworkman commented on #117
phpcs definitely processes all files in the project folder. Not just open files. I have a very large repository that has a lot of legacy PHP code that I need in my repo but dont need to worry about phpcs on them at this time. I would love to disable this. I have 920 phpcs errors at this time in my status bar. :-(

[2018-06-04 08:10] sofyansitorus commented on #117
+1 Adding options to only enable linting while the files is opened

[2018-06-05 03:22] riteshsv opened #119 "Phpcs unknown error"
C:\Users\Ritesh\AppData\Roaming\Composer\vendor\bin\phpcs.bat --report=json -q --encoding=UTF-8 --error-severity=5 --warning-severity=5 --stdin-path=D:\consent.hitechos\framework\view.php - returns a valid json object.

[2018-06-05 03:37] riteshsv commented on #119
i cant understand whats wrong!

[2018-06-06 15:09] jaredatch commented on #117
Oh man, I can't +1 this enough. I'd donate some dough for this feature.

I use PHPCS on VSC daily. For the most part it works well. But one of the projects I work on regularly is really large and the PHPCS package is more or less unusable. It takes forever to lint the project and basically ends up just linting itself into oblivion due to the size of things.

An option to only lint OPEN files and o

[2018-06-07 19:40] DavidRT commented on #119
Identical message here, anyone got a solution?

[2018-06-08 06:55] iyashpal commented on #115
I am having same issue in vs code and this is what I got after command execution:

$ php -v
PHP 7.2.4 (cli) (built: Mar 28 2018 04:27:01) ( ZTS MSVC15 (Visual C++ 2017) x64 )
Copyright (c) 1997-2018 The PHP Group
Zend Engine v3.2.0, Copyright (c) 1998-2018 Zend Technologies

**Thanks!**

[2018-06-08 07:54] Hugues-Antoine commented on #119
Identical message under Linux.
By removing the --stdin-path option, by executing the command directly in a console, it works.

[2018-06-08 08:01] Hugues-Antoine commented on #115
I think it's the same problem as https://github.com/ikappas/vscode-phpcs/issues/119

[2018-06-08 08:02] Hugues-Antoine commented on #111
I think it's the same problem as https://github.com/ikappas/vscode-phpcs/issues/119

[2018-06-08 08:56] Hugues-Antoine commented on #119
I replaced in the file server/src/linter.js at line 124

by

It work with phpcs 3.3.0 of php 7.2.4

[2018-06-08 10:13] iyashpal commented on #115
phpcs version:

$ phpcs --version
PHP_CodeSniffer version 3.3.0 (stable) by Squiz (http://www.squiz.net)

**Please Let me know how to solve this out.**

[2018-06-08 13:53] Hugues-Antoine commented on #115
I solved the problem like this : https://github.com/ikappas/vscode-phpcs/issues/119#issuecomment-395696586

[2018-06-18 16:52] garrettw opened #120 ""Unable to locate phpcs" with a global path including '~'"
I'm on macOS. I installed phpcs globally with composer, and then added it to my global path by appending `~/.composer/vendor/bin` to `/etc/paths`. After verifying in a new terminal that typing `phpcs` did in fact work, I restarted VS Code only to find that it still couldn't locate the executable.
Interestingly enough, running `which phpcs` at this point gave me no output.

So I changed the line in

[2018-06-20 09:45] muuvmuuv opened #122 "Ability to select phpxs.xml path"
I have all my confs in my Dropbox folder and want your extension to pull this phpcs.xml file instead of the one inside my project. Is this possible? if not this is a feature request :)

[2018-06-20 14:57] jaredatch commented on #122
Look at the package details/settings here: https://marketplace.visualstudio.com/items?itemName=ikappas.phpcs

Specifically, check out **phpcs.standard**.

[code]

[2018-06-20 16:40] muuvmuuv commented on #122
Oh sorry I missed that, thanks!

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-06-20 16:58] #122 closed, assigned to nobody

[2018-06-23 09:52] tomepajk opened #123 "Please delete this issue"

[2018-07-01 15:49] goseesomething commented on #14
I have the same problem but using the method offered by cerzzwiz then the error message never come again~

[2018-07-03 18:21] cyann commented on #117
PHPCS is also linting files in the Source Control tab, and I can't remove them from the Problems view.

I've added this to my config, but that doesn't work:
[code]

[2018-07-03 18:31] jaredatch commented on #117
@cyann

In your user or workspace settings, you should have something like:

[code]

That should seems to prevent the issue for me (at least, that I can tell).

[2018-07-03 18:40] cyann commented on #117
@jaredatch

Yes, this is the default. I've also copied that my workspace and user settings, no changes.

[2018-07-06 14:30] justageek commented on #91
Hi, I'm just curious, how long does it typically take for something like this to be released?

[2018-07-16 04:11] jeffhuangtw commented on #107
Has the same issue today, in my case, there are some special control characters in php files.

`php -l target.php | vim -`
output:
`| ERROR   | [ ] Expected "if (...) {\n"; found "if (...) // ^Z^Z^Z^Z^Z^Z^Z^Z^Z^Z\n`

Remove the control characters, everything works fine again.

[2018-07-18 13:45] BlackIHawk opened #124 "Bug with umlauts in the root directory title"
When the root directory name of the project contains umlauts like ö e.g. the phpcs does not label any code format violations. There are also no further issues reported by the extension.

[2018-07-25 14:40] hengtianjiya commented on #119
i have replaced lintArgs.push(`--stdin-path=${filePath}`);

by

lintArgs.push(`${filePath}`);

but it still not work.

phpcs 3.3.0 and PHP Version 7.0.20

is there any other wrong with it?

[2018-07-30 10:00] mwidmann commented on #91
Would be great if this PR could be merged soon. Please.

[2018-08-01 07:56] BirkAndMe opened #125 "Add support for onSave"
It would be great to have an option, to run phpcs on save.
So the `phpcs.enable` worked the same way as `php.validate.run`